<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header :: head('상품 목록')}"></head>
<style>
  div {
    box-sizing: border-box;
  }
  #category_list {
    font-size: 30px;
  }
  #product_list {
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
   }
  .product {
    border: none;
    width: 450px;
    height: 600px;
    text-align: left;
    margin: 20px 40px;
  }
  .product_thumbnail {
    height: 450px;
    text-align: center;
  }
  .product-img {
    max-width: 450px;
    max-height: 450px;
  }
  .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    text-align: center;
    color: red;
    height: 450px;
    line-height: 450px;
  }
  .product:hover {
    cursor: pointer;
  }
  #searchbox {
    margin: 30px;
    height: 50px;
  }
  #searchText {
    width: 200px;
  }
  
  h1 {
    margin: 100px 0;
    text-align:center;
  }
</style>
<body>
  <div th:replace="~{layout/header :: header}"></div>
  <div>
    <h1>상품 목록</h1>
    <ul id="category_list" class="nav nav-tabs d-flext justify-content-center" role="tablist">
    </ul>
    <div id="searchbox" class="d-flex justify-content-end">
        <input id="searchText" class="form-control me-sm-2" type="search" placeholder="검색">
        <button id="btn_search" class="btn btn-secondary my-2 my-sm-0" type="submit">검색</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="order" id="btnradio1" autocomplete="off" checked="checked" value="PRODUCT_SALES">
      <label class="btn btn-outline-primary" for="btnradio1">판매량많은순</label>
      <input type="radio" class="btn-check" name="order" id="btnradio2" autocomplete="off" value="PRODUCT_HIT">
      <label class="btn btn-outline-primary" for="btnradio2">조회수많은순</label>
      <input type="radio" class="btn-check" name="order" id="btnradio3" autocomplete="off" value="PRODUCT_RATING">
      <label class="btn btn-outline-primary" for="btnradio3">평점순</label>
      <input type="radio" class="btn-check" name="order" id="btnradio4" autocomplete="off" value="REVIEW_COUNT">
      <label class="btn btn-outline-primary" for="btnradio4">리뷰많은순</label>
    </div>
    <div id="product_list" class="d-flex justify-content-center product_list"></div>
  </div>
  <div th:replace="~{layout/footer :: footer}"></div>
</body>
<script>

  // 전역 변수
  var categoryNo = 0;
  var page = 1;
  var order = 'PRODUCT_SALES';
  var totalPage = 0;
  
  // 카테고리 목록
  const fnGetCategoryList = () => {
    $.ajax({
      // 요청
      type: 'get',
      url: '/product/getCategoryList.do',
      // 응답
      dataType: 'json',
      success: (resData) => {  // resData = {"categoryList": []}
        // 카테고리 목록이 없을 경우: 버튼을 만들지 않는다
        if(resData.categoryList === null){
          $('#category_btn_list').text('카테고리 준비 중...');
          return;
        }
        // 카테고리 목록이 있을 경우: 버튼 생성
        $.each(resData.categoryList, function(i, category){
          let str = '<li class="nav-item category" role="presentation" data-category-no="' + category.categoryNo + '">';
          str += '  <a class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab">' + category.categoryName + '</a>';
          str += '</li>';
          $('#category_list').append(str);
        })
        $('#category_list > li > a').first().addClass('active');
      }
    });
  }
    
  // 카테고리 버튼 클릭 시 data에서 카테고리번호 가져오기
  const fnGetCategoryProductList = () => {
    $(document).on('click', '.category', function(){
      categoryNo = $(this).data('category-no');
      fnGetProductList();
    });
  }
    
  // 해당 카테고리 상품목록
  const fnGetProductList = () => {
    $.ajax({
      // 요청
      type: 'get',
      url: '/product/getProductList.do',
      data: {'categoryNo' : categoryNo,
             'page' : page,
             'order' : order,
             'searchText' : $('#searchText').val()
            },
      // 응답
      dataType: 'json',
      success: (resData) => {  // resData = {"": [], "totalPage": 10}
      
        // 상품 목록이 없을 경우: 반환된 메세지 알림
        if(resData.productList === null){
          $('#product_list').text(resData.message);
          return;
        }
        // 상품 목록이 있을 경우: 화면에 출력
        totalPage = resData.totalPage;
        $('#product_list').empty();
        $.each(resData.productList, (i, product) => {
        	let str = '<div class="card product" data-product-no="' + product.productNo + '">';        	
        	str += '  <div class="product_thumbnail d-flex justify-content-center align-items-center">';
          if(product.productImageDto === null){
              str += '썸네일 없음';
          } else {
            str += '    <img class= "product-img" src="' + product.productImageDto.path + '/' + product.productImageDto.filesystemName + '">';
          }
          if(product.productCount === 0) {
            str += '    <div class="card-img-overlay">품절</div>';
          } else if(product.productCount < 10) {
            str += '    <div class="card-img-overlay">' + product.productCount + '개 남음</div>';
          }
          str += '  </div>';
          i
          console.log(product.productName + ': ' + product.productCount);
          str += '  <div class="card-body">';
          str += '  <h4 class="card-title">' + product.productName + '</h4>';
          str += '  <h6 class="card-subtitle mb-2 text-muted">' + product.productTitle + '</h6>';
          str += '  <p class="card-text">' + product.productPrice + '원</p>';
          str += '  <p class="card-text">' + product.reviewCount + '개의 리뷰</p>';
          str += '  </div>';
          str += '</div>';     	
          $('#product_list').append(str);
          
        });
      }
    })
  }
  
  // 검색 버튼 클릭 시 상품 목록 다시 가져오기
  const fnSearchProduct = () => {
    $(document).on('click', '#btn_search', function(){
      fnGetProductList();
    });
  }
  
  // 정렬 버튼 클릭 시 상품 목록 정렬 후 다시 가져오기
  const fnOrderProduct = () => {
    $(document).on('click', '.btn-check', function(){
      order = $(this).val();
      fnGetProductList();
    });
  }
  
  const fnScroll = () => {
    var timerId;
    $(window).on('scroll', (ev) => {
      if(timerId){
        clearTimeout(timerId);
      }
      timerId = setTimeout(() => {
        
        let scrollTop = $(ev.target).scrollTop();
        let windowHeight = $(ev.target).height();
        let documentHeight = $(document).height();
        
        if(scrollTop + windowHeight + 50 >= documentHeight){
          if(page >= totalPage){
            return;
          }
          page++;
          fnGetProductList();
        }
      }, 500);
    })
  }

  const fnAddProductResult = () => {
    let addProductResult = /*[[${addProductResult}]]*/ '';  // '', 'true', 'false'
    if(addProductResult !== ''){
      if(addProductResult === '1'){
        alert('성공적으로 업로드 되었습니다.');
      } else {
        alert('업로드가 실패하였습니다.');
      }
    }
  }
  
  const fnDetail = () => {
    $(document).on('click', '.product', function(){
      location.href = '/product/detail.do?productNo=' + $(this).data('product-no');
    });
  }
  
  fnGetCategoryList();
  fnGetProductList();
  fnGetCategoryProductList();
  fnSearchProduct();
  fnOrderProduct();
  fnScroll();
  fnAddProductResult();
  fnDetail();
  

</script>