<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  
<head th:replace="~{/layout/header::head('관리자 전용 페이지')}"></head>

  <style>
    .btn_admin{
      font-size : 30px;
      text-align: center;
    }
    .navbar navbar-expand-lg bg-light{
      border-right: 1px solid gray;
    }
    .navbar-collapse {
      background-color: #E0C891;
    }
  </style>
<body>
  
    <div th:replace="~{/layout/header::header}"></div>

  <div class="btn_admin">관리자 페이지에 오신것을 환영합니다.</div>
  
  
  <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/admin/event_list.go}">이벤트 현황
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/admin/qna_list.go}">모든 문의글 관리
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/admin/product_list.go}">제품 재고 관리
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/main.do}">총 주문현황 관리
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/admin/user_list.go}">유저 현황 관리
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        
      </ul>
      </form>
    </div>
  </div>
</nav>
  
   
   <div th:replace="~{/layout/footer::footer}"></div>
   
</body>
</html>