<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  
<head th:replace="~{/layout/header::head('관리자전용 Q&A게시판')}"></head>

<style>
  .answerWrap {
    width: 1500px;
    height: 50px;
    display: flex;
    font-size: 30px;
    line-height: 50px;
    justify-content: space-between;
    padding-left: 310px;
    padding-right: 250px;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
  }
  .nav_qna_list{
    text-align: center;
  }
  
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>

  <hr>
  <div class="nav_qna_list">
    <h1>USER 관리</h1>
    <hr>
    <a th:href="@{/admin/admin.go}">
      <input type="button" class="btn btn-light" value="관리자페이지돌아가기">
    </a>  
  </div>
  
  <hr>

  <div class="answerWrap">
    <div>
      <input type="button" class="btn btn-light getAllList" th:value="|전체 회원수 :|">
    </div>
     <div>
      <input type="hidden" value="1">
      <input type="button" class="btn btn-light getAnswerList" th:value="|휴면 회원수 : |">
     </div>
    <div>
      <input type="hidden" value="0">
      <input type="button" class="btn btn-light getNonAnswerList" th:value="|탈퇴 회원수 : |">
    </div>
  </div>
  <hr>
  <div class="test"></div>
  <hr>
  <div class="table_wrap">
  <table border=1 class="table table-hover table_font">
    <thead class="table-primary">
      <tr>
       <td>유저 번호</td>
       <td>이메일</td>
       <td>비밀번호</td>
       <td>이름</td>
       <td>성별</td>
       <td>핸드폰번호</td>
       <td>광고수신 동의여부</td>
       <td>회원 가입 상태</td>
       <td>가입일자</td>
       <td>권한</td>
       <td>적립금</td>
      </tr>
      
    </thead>
    <tbody id="user_list"></tbody>
  </table>
  </div>
  
 <script th:inline="javascript">
  function fnAnswer() {
  	$(document).on('click', '#btn_answer', function(ev){
	    location.href = '/user/qnadetail.do?qnaNo='+$(this).next().val()+'&groupNo='+$(this).prev().val();
  	})
  }
  
  function fngetAllList(){
      $.ajax({
        type:'get',
        url: '/admin/user_list.do',
        dataType:'json',
        success : (resData) => {
          $('#user_list').empty();
          $('.test').empty();
        if(resData.userList === null) {
          alert('목록 불러오기 실패');
          return;
        }
          let str1 = '<div>'
          str1 += '<select>';
          str1 += '<option name="email">이메일</option>';
          str1 += '<option name="name">이름</option>';
          str1 += '</select>';
          str1 +='<input type="text">';
          str1 += '<input type="button" value="검색" class="btn btn-warning">'
          str1 += '</div>'
          $('.test').append(str1);
        $.each(resData.userList, (i, user) => {
          let str = '<tr>'
          str += '<td>'+user.userNo+'</td>';
          str += '<td>'+user.email+'</td>';
          str += '<td>';
          str += '<input type="hidden" name="userNo"value="'+user.userNo+'">'  
          str += '<input type="hidden" name="email" value="'+user.email+'">'
          str += '<input type="button" class="btn btn-warning pwinit" value="비밀번호 초기화">';
          str += '</td>';
          str += '<td>'+user.name+'</td>';
          str += '<td>'+user.gender+'</td>';
          str += '<td>'+user.mobile+'</td>';
          if (user.agree === 0) {
            str += '<td value="0">'
            str += '광고 수신 비동의'
            str += '<br>'
            str += '<input type="hidden" value="0">'
            str += '<input type="hidden" value="'+user.userNo+'">'
            str += '<input type="hidden" value="'+user.email+'">'
            str += '<input type="button" class="btn btn-warning" value="동의로 변경">'
            str += '</td>'
          }
          if (user.agree === 1) {
            str += '<td value="1">'
            str += '광고 수신 동의'
            str += '<br>'
            str += '<input type="hidden" value="1">'
            str += '<input type="hidden" value="'+user.userNo+'">'
            str += '<input type="hidden" value="'+user.email+'">'
            str += '<input type="button" class="btn btn-warning" value="비동의로 변경">'
            str += '</td>'
          }
          if (user.joinState === 0) {
            str += '<td value="0">홈페이지 회원가입</td>'
          }
          if (user.joinState === 1) {
            str += '<td value="1">간편 회원가입</td>'
          }
          str += '<td>'+user.joinedAt+'</td>';
          if (user.adminAuthorState === 0) {
            str += '<td value="0">일반 회원'
            str += '<br>'
            str += '<input type="hidden" value="1">'
            str += '<input type="hidden" value="'+user.userNo+'">'
            str += '<input type="hidden" value="'+user.email+'">'
            str += '<input type="button" class="btn btn-warning adminTake" value="관리자권한주기">'
            str += '</td>'
          }
          if (user.adminAuthorState === 1) {
            str += '<td value="1">관리자'
            str += '<br>'
            str += '<input type="hidden" value="0">'
            str += '<input type="hidden" value="'+user.userNo+'">'
            str += '<input type="hidden" value="'+user.email+'">'
            str += '<input type="button" class="btn btn-warning normalTake" value="일반 권한주기">'
            str += '</td>'
          }
          str += '<td>'+user.point+'</td>';
          str += '</tr>';
          $('#user_list').append(str);
        })
        }
      })
   }
  
  function fnpwinit() {
    $(document).on('click', '.pwinit', function(ev){
      let email = $(this).prev().val();
      let userNo = $(this).prev().prev().val();
      $.ajax({
        type: 'get',
        url : '/admin/pw_init.do',
        data : {'email' : email,
                'userNo' : userNo},
        //응답
        dataType:'json',
        success: (resData) => {
          if(resData.pwInitResult === 1) {
            alert(email+'의 비밀번호가 초기화되었습니다.');
            fngetAllList();
          } else {
            alert('비밀번호 초기화가 실패하였습니다.');
            return;
          }
        }
      })
    })
  }
  
  
  function fnadmintake() {
    $(document).on('click', '.adminTake', function(ev){
      
      let email = $(this).prev().val();
      let userNo = $(this).prev().prev().val();
      let adminAuthorState = $(this).prev().prev().prev().val();
      
      console.log(adminAuthorState);
      
      $.ajax({
        type: 'get',
        url : '/admin/normalTake.do',
        data : {'email' : email,
                'userNo' : userNo,
                'adminAuthorState' : adminAuthorState },
        //응답
        dataType:'json',
        success: (resData) => {
          if(resData.normalTakeResult === 1) {
            alert(email+'님이 일반 권한을 얻었습니다.');
            fngetAllList();
          } else {
            alert('일반 권한 얻기가 실패하였습니다.');
            return;
          }
        }
      })
    })
  }
  
  function fnnormaltake() {
    $(document).on('click', '.normalTake', function(ev){
      
      let email = $(this).prev().val();
      let userNo = $(this).prev().prev().val();
      let adminAuthorState = $(this).prev().prev().prev().val();
      
      console.log(adminAuthorState);
      
      $.ajax({
        type: 'get',
        url : '/admin/adminTake.do',
        data : {'email' : email,
                'userNo' : userNo,
                'adminAuthorState' : adminAuthorState },
        //응답
        dataType:'json',
        success: (resData) => {
          if(resData.adminTakeResult === 1) {
            alert(email+'님이 관리자 권한을 얻었습니다.');
            fngetAllList();
          } else {
            alert('관리자 권한 얻기가 실패하였습니다.');
            return;
          }
        }
      })
    })
  }
  



  fnAnswer();
  fngetAllList();
  fnpwinit();
  fnadmintake();
  
 </script>
   
   <div th:replace="~{/layout/footer::footer}"></div>
   
</body>
</html>