<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header :: head('내 리뷰')}"></head>
<style>
  
</style>
<body>
  <div th:replace="~{layout/header :: header}"></div>
  <div>
    <h1>내 리뷰 목록</h1>
    <div id="review_list"></div>
  </div>
  <div th:replace="~{layout/footer :: footer}"></div>
</body>
<script th:inline="javascript">

  var page = 1;
  var order = 'REVIEW_MODIFIED_AT';
  var userNo = /*[[${session.user.userNo}]]*/ 0;
  const fnGetReviewList = () => {
    $.ajax({
      // 요청
      type: 'get',
      url: '/review/getMyReviewList.do',
      data: {'userNo' : userNo
           , 'page' : page
           , 'order' : order
            },
      // 응답
      dataType: 'json',
      success: (resData) => {  // resData = {"reviewList": [], "paging": ""}
        $.each(resData.reviewList, function(i, review){
          let str = '<div class="review" data-review-no="' + review.reviewNo + '">';
          str += '<h4>';
          str += '★'.repeat(review.reviewRating) + '☆'.repeat(5 - review.reviewRating);
          str += '</h4>';
          str += '<div>' + review.reviewModifiedAt + '</div>';
          str += '<div>상품명: ' + review.productDto.productName + ' / 옵션: ' + review.productOptionDto.optionName + '</div>';
          str += '<div class="d-flex mt-3">'
          str += '  <div class="w-100">'
          str += '    <h5 class="review_title">' + review.reviewTitle + '</h5>'
          str += '    <div class="review_contents">' + review.reviewContents + '</div>';
          str += '  </div>'
          str += '  <div class="review_thumbnail">';
          if(review.reviewImageDto !== null){
            str += '    <image src="/' + review.reviewImageDto.path + '/' + review.reviewImageDto.filesystemName + '">';
          } else {
            str += '    <image src="기본이미지">';
          }
          str += '  </div>';
          str += '</div>';
          $('#review_list').append(str);
        });
        $('#review_list').append(resData.paging);
      }
    })
  }
  
  fnGetReviewList();

</script>