<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header :: head('내 리뷰')}"></head>
<link rel="stylesheet" th:href="@{/css/review/review_list.css}">
<body>
  <div th:replace="~{layout/header :: header}"></div>
  <div id="wrapper" class="">
    <div class="text-center">
      <button type="button" class="btn" id="btn_my_review">내 리뷰</button>
      <button type="button" class="btn" id="btn_not_reviewed">작성하지 않은 리뷰</button>
    </div>
    <h1>내 리뷰 목록</h1>
    <div id="review_list"></div>
  </div>
  <div th:replace="~{layout/footer :: footer}"></div>
</body>
<script th:inline="javascript">
  var userNo = /*[[${session.user.userNo}]]*/ 0;
  var addReviewResult = /*[[${addReviewResult}]]*/ null;  // '', true, false
  var editReviewResult = /*[[${editReviewResult}]]*/ null;  // '', true, false
  var removeReviewResult = /*[[${removeReviewResult}]]*/ null;  // '', 1, 2
</script>
<script th:src="@{/js/review/review_list.js}"></script>