<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('cart')}"></head>

<style>
  .img_line{
     padding-left: 0px;
     word-spacing:0px;
     text-align: left;
     
  }
  .cart_info_td {
    padding-top: 50px;
    
  }
  
  #cart_title{
    font-size: 70px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #center_title{
    text-align: center;
  }
  
  .b {
    margin-left: auto;
    margin-right: auto;
  }
  
  #wrap_div1{
    border-radius: 30px;
    
    
  }
  
  #all {
     margin-left: auto;
     margin-right: auto;
     width: 300px;
     height: 50px;
     text-align: left;
     font-size: larger;
     
  }
  
  #frm_order {
    padding-top: 50px;
    text-align: center;
  }
  
  
</style>

<body>

  <div th:replace="~{/layout/header::header}"></div>
  
 
  <h1 id="cart_title">Cart</h1>
  <hr>
  
  <div>
    <div>
      <h3 id="center_title">상품정보</h3>
    </div>
    <form id="frm_btn"> 
      <table class="b">
        <thead border="1">
          <tr><th class="img_line">이미지  상품명 가격 배송비 적립금  할인율 수량 합계 productNo optionNo optionName</th></tr>
        </thead>
        <tbody>
        <caption>장바구니</caption>
          <th:block th:each="c:${cartList}"> 
            <tr class="a">
              <td class="cart_info_td">         
                <input type="checkbox" class="cart_checkbox" checked="checked">
                <img th:src="|${c.productImageDto.path}/${c.productImageDto.filesystemName}|" th:alt="Thumbnail">
                <input type="text" class="pr_Name" th:value="${c.productDto.productName}" size="9" readonly>
                <input type="text" class="pr_Price" th:value="${c.productDto.productPrice}" size="5" readonly>
                <input type="text" class="deliveryPrice" th:value="3000원" size="5" readonly>
                <input type="text" class="" th:value="적립금" size="4">
                <input type="text" class="discount" th:value="${c.eventDto.discountPercent} + '%'" size="3" readonly>
                <span id="count_span">
                  <input type="text" class="totalCount" th:value="${c.count}" size="2" readonly>
                  <button type="button" class="plus_btn btn btn-danger btn btn-primary btn-sm" >+</button>
                  <input type="hidden" class="plus_cartcount" name="count" th:value="${c.count}"></input>
                  <button type="button" class="minus_btn btn btn-danger btn btn-primary btn-sm" >-</button>
                  <input type="hidden" class="minus_cartcount" name="count" th:value="${c.count}"></input>
                </span>                                   
                <input type="text" class="finaltotalprice" th:value="${(c.productDto.productPrice + c.productOptionDto.addPrice) * c.count * (1 - c.eventDto.discountPercent / 100.0) + '원'}" size="7"  readonly>
                <input type="hidden" name="userNo" th:value="${c.userDto.userNo}">
                <input type="hidden" name="productNo" class="productNo" th:value="${c.productDto.productNo}"size="3" >
                <input type="hidden" name="optionNo" class="delete_optionNo" th:value="${c.productOptionDto.optionNo}" size="3">
                <input type="text" name="optionName" class="delete_optionName" th:value="${c.productOptionDto.optionName}" size="15">
                <button type="submit" class="btn_remove btn btn-danger">삭제</button>
              </td>
            </tr>  
          </th:block>
        </tbody>
        </table>
      </form>
     </div> 
  <hr>
    
    
    
    
   <div class="wrap_div1">
    <table border="1" id="all">
      <tbody>
        <tr>
          <td><span class="totalPrice_span"></span></td>
          <td><span class="plus">+</span></td> 
          <td><span class="delivery_price"></span></td>
          <td><span class="inequality">=</span></td>
          <td><span class="finalTotalPrice_span"></span></td>
        </tr>
      </tbody>
    </table>
   </div>
    
   <div> 
    <form id="frm_order" th:action="@{/order/detail.do}" method="get">
      <th:block th:each="order:${cartList}"> 
      <input type="hidden" name="optionNo" th:value="${order.productOptionDto.optionNo}">
      <input type="hidden" name="userNo"   th:value="${order.userDto.userNo}">
      <input type="hidden" name="count"    th:value="${order.count}">
      </th:block>
        <button type="submit" id="order_btn" class="btn btn-warning btn btn-primary btn-lg">구매</button>
        <a th:href="@{/product/list.do}">
          <button type="button" id="list_btn" class="btn btn-warning btn btn-primary btn-lg">리스트로 돌아가기</button>
        </a> 
    </form>
   </div>
    
 
 

<script th:inline="javascript">
   
   
   $(document).ready(function(){
       setTotalInfo();
      
   $('.cart_checkbox').on('change', function(){
      setTotalInfo($('.cart_info_td'));
   });
   
   function setTotalInfo(){
      
      var totalPrice = 0;                                        // 상품 가격
      var totalCount = 0;                                        // 총 갯수
      var totalKind = 0;                                         // 총 종류
      var totalPoint = 0;                                        // 총 마일리지
      var deliveryPrice = 0;                                     // 배송비
      var finalTotalPrice = 0;  
      
    
    $('.cart_info_td').each(function(index, e){
         if($(e).find('.cart_checkbox').is(':checked') === true){
           totalPrice += parseInt($(e).find('.finaltotalprice').val());
           console.log(JSON.stringify(totalPrice));
           totalCount += parseInt($(e).find('.totalCount').val());
           console.log(JSON.stringify(totalCount));
           totalKind += 1;
         }
           
      });
      
      if(totalPrice >= 30000){
         deliveryPrice = 0;
      } else if(totalPrice == 0){
         deliveryPrice = 0;
      } else {
         deliveryPrice = 3000;   
      }
      
      finalTotalPrice = totalPrice + deliveryPrice;
      // 총가격
      $('.totalPrice_span').text(totalPrice.toLocaleString());
      // 총 갯수
      $(".totalCount_span").text(totalCount);
      // 총 종류
      $(".totalKind_span").text(totalKind);
      // 배송비
      $(".delivery_price").text(deliveryPrice);   
      // 최종 가격(총 가격 + 배송비)
      $(".finalTotalPrice_span").text(finalTotalPrice.toLocaleString());
   
      
   }
   });

</script>

<script th:inline="javascript">
          
  const fnMinusCount = () => {
    $(document).on('click', '.minus_btn', function(ev){
        var count = $(this).closest('tr').find('.totalCount').val();
        var optionName = $(this).closest('tr').find('.delete_optionName').val();
        var optionNo = $(this).closest('tr').find('.delete_optionNo').val();
        var productNo = $(this).closest('tr').find('.productNo').val();
        console.log(count);
        location.reload();
      if(count == '1'){
        alert('상품을 더이상 줄일수 없습니다.');
        return;
      }
        $.ajax({
           type: 'post',
           url: '/order/minusupdate.do',
           data:'&optionNo=' + optionNo + '&optionName=' + optionName + '&productNo=' + productNo + '&count=' + count,
           dataType: 'json',
           success: (resData) => {
             console.log(resData);
             location.reload();
            }
        });
     });
   }
  
  const fnPlusCount = () => {
    $(document).on('click', '.plus_btn', function(ev){
        var count = $(this).closest('tr').find('.totalCount').val();
        var optionName = $(this).closest('tr').find('.delete_optionName').val();
        var optionNo = $(this).closest('tr').find('.delete_optionNo').val();
        var productNo = $(this).closest('tr').find('.productNo').val();
        console.log(count);
        if(count == '100'){
          alert('상품을 더 담을수 없습니다.')
          return;
        }
          $.ajax({
          type: 'post',
          url: '/order/plusupdate.do',
          data: 'optionNo=' + optionNo + '&optionName=' + optionName + '&productNo=' + productNo + '&count=' + count,
          dataType: 'json',
          success: (resData) => {
            console.log(resData);
            location.reload();
           }
        });
    });
  }
  
  
  
  const fnDeleteCart = () => {
        $(document).on('click', '.btn_remove', (ev) => {
          if(!confirm('상품을 삭제할까요?')){
             return;
           }
          $.ajax({
            type: 'post',
            url: '/order/delete.do',
            data:$('#frm_btn').serialize(),
            dataType: 'json',
            success: (resData) => {  
               if(resData.removeResult === 1){
                  alert('상품삭제를 취소합니다.');
                     location.reload();
                  } else {
                  alert('상품이 삭제되었습니다.');
                     location.reload();
               }
             }
           })
       })
     }
     
       
  fnPlusCount();
  fnDeleteCart();
  fnMinusCount();
</script>



</body>
</html>