<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('cart')}"></head>


<body>

  <div th:replace="~{/layout/header::header}"></div>
  <div>
    
  </div>

  <h1>Cart</h1>
  <hr>
  
  <div>
    <div>
      <h3>일반상품</h3>
    </div>
    <form id="frm_btn"> 
      <table border="1" class="b">
        <thead>
          <tr>
            <th>이미지 / 상품명 / 판매가 /수량 /적립금 /배송 /상품합계 </th>
          </tr>
        </thead>
        <tbody>
        <caption>장바구니</caption>
          <th:block th:each="cartProduct:${cartList}">
            <tr class="a">
              <td class="cart_info_td">
                <input type="checkbox" class="cart_checkbox" checked="checked">
                <input type="" class="image" th:value="이미지">
                <input type="" class="pr_Name" th:value="${cartProduct.productDto.productName}">
                <input type="" class="totalPrice" th:value="${cartProduct.productDto.productPrice}">
                <input type="" class="deliveryPrice" th:value="3000원">
                <input type="" class="finaltotalprice" th:value="${(cartProduct.productDto.productPrice + cartProduct.productOptionDto.addPrice) * cartProduct.count + 3000}">
                <input type="" class="" th:value="적립금">
                <span>
                  <input type="" class="totalCount" th:value="${cartProduct.count}">
                    <button type="button" class="plus_btn">+</button>
                    <input type="hidden" class="plus_cartcount" name="count" th:value="${cartProduct.cartDto.count}"></input>
                    <button type="button" class="minus_btn">-</button>
                    <input type="hidden" class="minus_cartcount" name="count" th:value="${cartProduct.cartDto.count}"></input>
                </span>
                <input type="hidden" name="userNo" th:value="${cartProduct.userDto.userNo}">
                <input type="hidden" name="optionNo" class="delete_option" th:value="${cartProduct.productOptionDto.optionNo}">
                <button type="submit"  class="btn_remove">삭제</button>
              </td>
            </tr>  
          </th:block>
        </tbody>
        </table>
      </form>
      
  <hr>
    
    <div>
      <table border="1">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td><span class="totalPrice_span"></span></td>
            <td><span class="totalCount_span"></span></td>
            <td><span class="delivery_price" ></span></td>
            <td><span class="finalTotalPrice_span"></span></td>
          </tr>
        </tbody>
      </table>
      <div>
        <a th:href="@{/order/detail.do}">
          <button type="button">구매</button>
        </a>
        <a th:href="@{/product/list.do}">
          <button type="button">리스트로 돌아가기</button>
        </a>
    </div>
   </div>
    
    
    
    
 
 </div>

<script th:inline="javascript">
   
   $(document).ready(function(){
       setTotalInfo();
      
   
   $('.cart_checkbox').on('change', function(){
      setTotalInfo($('.cart_info_td'));
   });
   
   function setTotalInfo(){
      
      var totalPrice = 0;            // 총 가격
      var totalCount = 0;            // 총 갯수
      var totalKind = 0;             // 총 종류
      var totalPoint = 0;            // 총 마일리지
      var deliveryPrice = 0;         // 배송비
      var finalTotalPrice = 0;  
   
      $('.cart_info_td').each(function(index, e){
         if($(e).find('.cart_checkbox').is(':checked') === true){
           totalPrice += parseInt($(e).find('.totalPrice').val());
           totalCount += parseInt($(e).find('.totalCount').val());
           totalKind += 1;
         }
           
      });
      
      if(totalPrice >= 30000){
         deliveryPrice = 0;
      } else if(totalPrice == 0){
         deliveryPrice = 0;
      } else {
         deliveryPrice = 3000;   
      }
   
      
      finalTotalPrice = totalPrice + deliveryPrice;
      // 총가격
      $('.totalPrice_span').text(totalPrice.toLocaleString());
      // 총 갯수
      $(".totalCount_span").text(totalCount);
      // 총 종류
      $(".totalKind_span").text(totalKind);
      // 배송비
      $(".delivery_price").text(deliveryPrice);   
      // 최종 가격(총 가격 + 배송비)
      $(".finalTotalPrice_span").text(finalTotalPrice.toLocaleString());
   }
   });

</script>

<script th:inline="javascript">
  
  const fnModifyCart = () => {
    
  }
  
  
  const fnDeleteCart = () => {
        $(document).on('click', '.btn_remove', (ev) => {
          if(!confirm('상품을 삭제할까요?')){
             return;
           }
          $.ajax({
            type: 'post',
            url: '/order/delete.do',
            data:$('#frm_btn').serialize(),
            dataType: 'json',
            success: (resData) => {  
               if(resData.removeResult === 1){
                  alert('상품삭제를 취소합니다.');
                     location.reload();
                  } else {
                  alert('상품이 삭제되었습니다.');
                     location.reload();
               }
             }
           })
       })
     }
     
       
  fnModifyCart();  
  fnDeleteCart();
 
</script>



</body>
</html>