<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('이벤트작성게시판')}"></head>

<style>
  .ck.ck-editor {
    max-width: 1200px;
  }
  .ck-editor__editable {
    min-height: 500px;
  }
  .ck-content {
    color: gray;
    text-align: center;
  }
  .form_wrap{
    text-align: center;
    display: flex;
    justify-content: center;
    
  }
  .eventadd {
    width: 100%;
    height: 50px;
  }
  .event_add_wrap {
    background-color: rgb(183,175,163);
    text-align: center;
    color: #fff;
  }
  hr {
    margin-bottom: 0;
  }
</style>

<body>

  <div th:replace="~{/layout/header::header}"></div>

  <div class="event_add_wrap">
  <h1 style="color: #fff;">EVENT 수정하기</h1>
  <hr>
  
  <div>
    <form id="frm_event_update" action="/event/update.do" method="post" enctype="multipart/form-data">
      <div>
        <label for="title">제목</label>
        <input type="text" name="title" id="title" th:value="${event.title}">
      </div>
      
      <hr>
      <div>
        <input type="hidden" name="eventNo" th:value="${event.eventNo}">
        <input type="hidden" name="hit" th:value="${event.hit}">
        <input type="hidden" name="state" th:value="${event.state}">
      </div>
      
      <div class="form_wrap">
        <textarea name="contents" id="contents" class="form-control" th:value="${event.contents}"></textarea>
      </div>
      
      <hr>
      
      <div>
        <label for="files" class="form-label">1개의 썸네일 첨부</label>
        <input type="file" id="files" name="files" multiple class="form-control">
      </div>
      
      <hr>
     
       <div>
        <label for="event_images" class="form-label">슬라이드 이벤트사진</label>
        <input type="file" name="event_images" id="event_images" class="form-control" multiple>
       </div>
      
      <hr>
      
      <div>
        <label id="startAt">시작일</label>
        <input type="date" name="startAt"  class="startAt" th:value="${event.startAt}">
        <label id="endAt">종료일</label>
        <input type="date" name="endAt" class="endAt" th:value="${event.endAt}">
      </div>
      
      <hr>
      
      <div>
        <label id="discountPercent">할인율</label>
        <input type="text" class="discountPercent" name="discountPercent" id="discountPercent" th:value="${event.discountPercent}">
      </div>
      
      <hr>
      
      <div>
        <label id="discountPrice">할인가</label>
        <input type="text" class="discountPrice" name="discountPrice" id="discountPrice" th:value="${event.discountPrice}">
      </div>
      
      <hr>
      
      <div>
        <input type="button" value="수정완료" class="btn btn-danger event_update">
      </div>
      
      <hr>
      
    </form>
  </div>
  
  </div>
  
  
  
<script th:inline="javascript">
  
  var titleValue = $('#title').val();
  
  
  function StartDatechecking() {
    $(document).on('blur', '.startAt', function(ev){
      let dateCheck = /^[0-9]{4}-[0-9]{2}-\d{2}$/;
      let datevalue = $('.startAt').val();
      let startDate = $('.startAt').val().replaceAll('-','');
      let endDate = $('.endAt').val().replaceAll('-','');
      
      let today = new Date();
      let year = today.getFullYear(); // 년도
      let month = today.getMonth() + 1;  // 월
      let date = String(today.getDate()).padStart(2,"0");  // 날짜
      let full = year+'-'+month+'-'+date;
      let withoutfull = (full).replaceAll('-','');
      
      if(startDate != 0 && endDate != 0){
        if(endDate - startDate < 0){
        alert('종료일이 시작일보다 느릴수없습니다. 시작일을 현재날짜로 설정합니다.');
        return $('.startAt').val(full);
        }
      }
      
      
      if(!dateCheck.test(datevalue)){
       alert('해당 시작일은 설정이 불가합니다. 현재날짜로 재설정합니다.');
       return $('.startAt').val(full);
      } 
      
      datevalue = datevalue.replaceAll('-','');
      
      if((datevalue - withoutfull) < 0){
        alert('지난 날짜는 선택할 수 없습니다. 현재날짜로 재설정합니다.');
        $('.startAt').val(full);
        return $('.startAt').val(full);
      }
    })
  }
  
  function endDatechecking() {
    $(document).on('blur', '.endAt', function(ev){
      let dateCheck = /^[0-9]{4}-[0-9]{2}-\d{2}$/;
      let datevalue = $('.endAt').val();
      let startDate = $('.startAt').val().replaceAll('-','');
      let endDate = $('.endAt').val().replaceAll('-','');
      
      console.log(endDate);
      
      let today = new Date();   
      let year = today.getFullYear(); // 년도
      let month = today.getMonth() + 1;  // 월
      let date = String(today.getDate()).padStart(2,"0");  // 날짜
      let full = year+'-'+month+'-'+date;
      let withoutfull = (year+'/'+month+'/'+date).replaceAll('/','');
      
      if(!dateCheck.test(datevalue)){
        alert('해당 종료일은 설정이 불가합니다. 현재날짜로 재설정합니다.');
        return $('.endAt').val(full);
      }
      
      datevalue = datevalue.replaceAll('-','');
      if((datevalue-withoutfull) < 0){
        alert('지난 날짜는 선택할 수 없습니다. 현재날짜로 재설정합니다.');
        return $('.endAt').val(full);
      }
      if(startDate == 0){
        alert('시작일을 설정하지않았습니다. 현재날짜로 설정합니다.');
        return $('.startAt').val(full);
      }
      
      if(endDate == 0){
        alert('종료일을 설정하지않았습니다. 현재날짜로 설정합니다.');
        return $('.startAt').val(full);
      }
      
      if(endDate - startDate < 0) {
        alert('종료일이 시작일보다 느릴수없습니다. 시작일을 현재날짜로 설정합니다.');
        return $('.startAt').val(full);
      }
      
    })
  }

  
  function percentChecking() {
    $(document).on('keyup', '.discountPercent', function(ev){
      let Check = /^[0-9]{1,100}$/g;
      let value = $(this).val();
      if(!Check.test(value)){
        alert('할인율은 숫자만 입력가능합니다.');
        $(this).val('');
        return;
      } 
    })
  }
  function priceChecking() {
    $(document).on('keyup', '.discountPrice', function(ev){
      let Check = /^[0-9]{1,100}$/g;
      let value = $(this).val();
      if(!Check.test(value)){
        alert('할인가는 숫자만 입력가능합니다.');
        $(this).val('');
        return;
      } 
    })
  }
  
  
  function updateevent(){
    $(document).on('click', '.event_update', function(ev) {
      
      if($('#title').val() == '') {
        alert('제목 입력은 필수 입니다.');
        $('#title').focus();
        return;
      }
      
      
      if($('.ck-content').find('p').text() == '' || $('.ck-content').find('img').attr('src') == '') {
        alert('내용 입력은 필수 입니다.');
        $('.ck-content').focus();
        return;
      }
      
      if($('#files').val() == '') {
        alert('썸네일은 1개를 첨부해야합니다.');
        $('#files').focus();
        return;
      }
      
      if($('.startAt').val() == '' || $('.endAt').val() == '') {
        alert('이벤트 기간을 확인해주세요');
        return;
      }
      
      if($('.discountPercent').val() > 100) {
        alert('할인율은 100%를 초과될 수 없습니다.');
        $('.discountPercent').focus().val('');
        return;
      }
      if($('.discountPercent').val() == ''){
        $('.discountPercent').val(0);
      }
      if($('.discountPrice').val() == ''){
        $('.discountPrice').val(0);
      }
      
      
      $('#frm_event_update').submit();
      
    })
  }
  
  
  
  
  
const fnCkeditor = () => {
    ClassicEditor
      .create(document.getElementById('contents'), {
        toolbar: {
          items: [
            'undo', 'redo',
            '|', 'heading',
            '|', 'fontfamily', 'fontsize', 'fontColor', 'fontBackgroundColor',
            '|', 'bold', 'italic', 'strikethrough', 'subscript', 'superscript', 'code',
            '|', 'link', 'uploadImage', 'blockQuote', 'codeBlock',
            '|', 'bulletedList', 'numberedList', 'todoList', 'outdent', 'indent'
          ],
          shouldNotGroupWhenFull: false
       },
       heading: {
         options: [
           { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
           { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
           { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
           { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
           { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
           { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
           { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
         ]
       },
       ckfinder: {
         // 이미지 업로드 경로
         uploadUrl: '/event/imageUpload.do',
       }
     })
     .catch(err => {
       console.log(err)
     });
  }
  
  
  
  
  fnCkeditor();
  updateevent();
  priceChecking();
  percentChecking();
  StartDatechecking();
  endDatechecking();

</script>  
  
  
  <div th:replace="~{/layout/footer::footer}"></div>

</body>
</html>