<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header :: head('홈')}"></head>
<body>
  
  <div th:replace="~{layout/header :: header}"></div>
  
  <div class="main_wrap">
    
  <div>
    <img th:src="@{/image/PetMall_Logo.png}" width="200px">
  </div>
  
  
  <h1>메인내용</h1>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  <div> ㅎ2</div>
  </div>
  <div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>