<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gdu.petmall.dao.CartMapper">
  
  <resultMap type="CartDto"     id="CartMap">
    <id      column="CART_NO"     property="cartNo" />
    <result  column="PR_NAME"     property="prName" />
    <result  column="PR_PRICE"    property="prPrice" />
    <result  column="DELIVERY"    property="delivery" />
    <result  column="COUNT"       property="count" />
    <association  javaType="ProductDto" property="productDto">
      <id     column="PRODUCT_NO"           property="productNo" />
      <result column="PRODUCT_NAME"         property="productName" />
      <result column="PRODUCT_TITLE"        property="productTitle" />
      <result column="PRODUCT_PRICE"        property="productPrice" />
      <result column="PRODUCT_DESCRIPTION"  property="productDescription" />
      <result column="PRODUCT_SIZE "        property="productSize" />
      <result column="PRODUCT_WARNING"      property="productWarning" />
      <result column="PRODUCT_HIT"          property="productHit" />
      <result column="PRODUCT_RATING"       property="productRating" />
    </association>
    <association  javaType="EventDto"       property="eventDto">
      <id     column="EVENT_NO"             property="eventNo" />
      <result column="TITLE"                property="title" />
      <result column="CONTENTS"             property="contents" />
      <result column="HIT"                  property="hit" />
      <result column="STATE"                property="state" />
      <result column="EVENT_THUMNAIL_URL"   property="eventThumnailUrl" />
      <result column="DISCOUNT_PERCENT"     property="discountPercent" />
      <result column="DISCOUNT_PRICE"       property="discountPrice" />
      <result column="START_AT"             property="start_at" />
      <result column="END_AT"               property="end_at" />
    </association>
    <association javaType="UserDto"       property="userDto">
      <id     column="USER_NO"            property="userNo" />
      <result column="EMAIL"              property="email" />
      <result column="PW"                 property="pw" />
      <result column="NAME"               property="name" />
      <result column="GENDER"             property="gender" />
      <result column="MOBILE"             property="mobile" />
      <result column="POSTCODE"           property="postcode" />
      <result column="ROAD_ADDRESS"       property="roadAddress" />
      <result column="JIBUN_ADDRESS"      property="jibunAddress" />
      <result column="DETAIL_ADDRESS"     property="detailAddress" />
      <result column="AGREE"              property="agree" />
      <result column="JOIN_STATE"         property="joinState" />
      <result column="PWMODIFIED_AT"      property="pwModifiedAt" />
      <result column="ADMIN_AUTHOR_STATE" property="adminAuthorState" />
      <result column="POINT"              property="point" />
    </association>  
    <association javaType="ProductOptionDto"  property="productOptionDto">
      <id     column="OPTION_NO"              property="optionNo" />
      <result column="PRODUCT_NO"             property="productNo" />
      <result column="OPTION_NAME"            property="optionName" />
      <result column="ADD_PRICE"              property="addPrice" />
    </association>
    <association javaType="ProductImageDto"    property="productImageDto">
      <id     column="IMAGE_CODE"              property="imageCode" />
      <result column="POSITION"              property="position" />
      <result column="PATH"                    property="path" />
      <result column="FILESYSTEM_NAME"         property="filesystemName" />
    </association>
  </resultMap>
    
    <select id="getCartList" parameterType="CartDto" resultMap="CartMap">
       SELECT C.USER_NO,
              C.COUNT,
              A.PRODUCT_NAME,
              A.PRODUCT_PRICE,
              A.PRODUCT_NO,
              B.OPTION_NAME,
              B.ADD_PRICE,
              E.DISCOUNT_PERCENT,
              E.EVENT_NO,
              C.OPTION_NO,
              P.PATH,
              P.FILESYSTEM_NAME
         FROM PRODUCT_T A
              JOIN PRODUCT_OPTION_T B ON A.PRODUCT_NO = B.PRODUCT_NO
              JOIN EVENT_T E ON E.EVENT_NO = (SELECT MAX(EVENT_NO) FROM EVENT_T WHERE SYSDATE BETWEEN START_AT AND END_AT)
              JOIN CART_T C ON C.OPTION_NO = B.OPTION_NO
              LEFT JOIN PRODUCT_IMAGE_T P ON P.IMAGE_CODE = 'product_' || A.PRODUCT_NO AND P.POSITION = 'preview' 
        WHERE C.USER_NO = ${userNo}
          AND E.DISCOUNT_PERCENT = (SELECT MAX(DISCOUNT_PERCENT) 
                                      FROM EVENT_T WHERE EVENT_NO = (SELECT MAX(EVENT_NO) 
                                                                       FROM EVENT_T WHERE SYSDATE BETWEEN START_AT AND END_AT))
    </select>
    
    
    <insert id="insertCart" parameterType="List">
       
       INSERT INTO CART_T 
         USER_NO,
         OPTION_NO,
         COUNT
      SELECT USER_NO = #{addCartList.userNo},
             OPTION_NO = #{addCartList.optionNo}, 
             COUNT = #{addCartList.count}
        FROM USER_T     
                   
    </insert>
    
    
    <update id="updateCart" parameterType="map">
       UPDATE CART_T
          SET COUNT = #{count}
        WHERE USER_NO = #{userNo}
          AND OPTION_NO IN (SELECT OPTION_NO
                              FROM PRODUCT_OPTION_T P
                             WHERE P.OPTION_NAME = #{optionName}
                               AND P.PRODUCT_NO = #{productNo}) 
    </update>
   
    <delete id="deleteCart" parameterType="map">
        DELETE 
          FROM CART_T
         WHERE OPTION_NO = #{optionNo}
           AND USER_NO = #{userNo} 
    </delete>           
      
    <delete id="deleteAllCart" parameterType="int">
        DELETE 
          FROM CART_T
         WHERE OPTION_NO = #{optionNo}
           AND USER_NO = #{userNo} 
    </delete>
   
</mapper>