<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gdu.petmall.dao.FaqMapper">

  <resultMap type="FaqDto"     id="FaqMap">
    <id      column="FAQ_NO"        property="faqNo" />
    <result  column="CATEGORY_NO"   property="categoryNo" />
    <result  column="FAQ_NAME"      property="faqName" />
    <result  column="FAQ_TITLE"     property="faqTitle" />
    <result  column="STATUS"        property="status" />
    <result  column="DEPTH"         property="depth" />
    <result  column="GROUP_NO"      property="groupNo" />
    <result  column="GROUP_ORDER"   property="groupOrder" />
    <result  column="FAQ_CONTENTS"  property="faqContents" />
      <association  javaType="faqCategoryDto" property="faqcategoryDto">
        <id     column="FAQ_CATEGORY_NO"       property="faqCategoryNo" />
        <result column="FAQ_CATEGORY_NAME"     property="faqCategoryName" />
      </association>
  </resultMap>

  <select id="getFaqCount" resultType="int">
    SELECT COUNT(*)
      FROM FAQ_T
  </select>
  
  <select id="getFaqCategoryList" resultType="FaqCategoryDto">
    SELECT FAQ_CATEGORY_NO, FAQ_CATEGORY_NAME
      FROM FAQ_CATEGORY_T
  </select>
  
  <select id="customerFaqList" parameterType="Map" resultType="FaqDto">
    SELECT FAQ_NO
         , FAQ_NAME
         , FAQ_TITLE
         , FAQ_CONTENTS
         , STATUS
         , DEPTH
         , GROUP_NO
         , GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, FAQ_NO, FAQ_NAME, FAQ_TITLE, FAQ_CONTENTS, STATUS, DEPTH, GROUP_NO, GROUP_ORDER
              FROM FAQ_T)         
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  <select id="adminFaqList" parameterType="Map" resultType="FaqDto">
    SELECT FAQ_NO
         , FAQ_NAME
         , FAQ_TITLE
         , FAQ_CONTENTS
         , STATUS
         , DEPTH
         , GROUP_NO
         , GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, FAQ_NO, FAQ_NAME, FAQ_TITLE, FAQ_CONTENTS, STATUS, DEPTH, GROUP_NO, GROUP_ORDER
              FROM FAQ_T)         
     WHERE RN BETWEEN #{begin} AND #{end}
  </select> 
  
  <select id="getSearchCount" parameterType="Map" resultType="int">
    SELECT COUNT(*)
      FROM FAQ_T
     WHERE STATUS = 1
       AND ${column} LIKE '%' || #{query} || '%'
  </select>
  
  <select id="getSearchCategoryCount" resultType="int">
    SELECT COUNT(*)
    FROM FAQ_T
    WHERE STATUS = 1
    AND FAQ_NAME LIKE '%' || #{faqName} || '%'
  </select>
  
  <select id="getSearchCategoryList" parameterType="Map" resultType="FaqDto">
    SELECT FAQ_NO
         , FAQ_NAME
         , FAQ_TITLE
         , FAQ_CATEGORY_NO
         , FAQ_CONTENTS
         , STATUS
         , DEPTH
         , GROUP_NO
         , GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, 
                   FAQ_NO
                 , FAQ_NAME
                 , FAQ_CATEGORY_NO
                 , FAQ_TITLE
                 , FAQ_CONTENTS
                 , STATUS
                 , DEPTH
                 , GROUP_NO
                 , GROUP_ORDER
             FROM FAQ_T
            WHERE STATUS = 1
              AND FAQ_NAME LIKE '%' || #{faqName} || '%')
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  
  
  
  
   
  <select id="getSearchList" parameterType="Map" resultType="FaqDto">
    SELECT FAQ_NO
         , FAQ_NAME
         , FAQ_TITLE
         , FAQ_CATEGORY_NO
         , FAQ_CONTENTS
         , STATUS
         , DEPTH
         , GROUP_NO
         , GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, 
                   FAQ_NO
                 , FAQ_NAME
                 , FAQ_CATEGORY_NO
                 , FAQ_TITLE
                 , FAQ_CONTENTS
                 , STATUS
                 , DEPTH
                 , GROUP_NO
                 , GROUP_ORDER
             FROM FAQ_T
            WHERE STATUS = 1
              AND ${column} LIKE '%' || #{query} || '%')          
     WHERE RN BETWEEN #{begin} AND #{end}
  </select> 
   
  <select id="getSearchNameList" parameterType="Map" resultType="FaqDto">
    SELECT FAQ_NO
         , FAQ_NAME
         , FAQ_TITLE
         , FAQ_CATEGORY_NO
         , FAQ_CONTENTS
         , STATUS
         , DEPTH
         , GROUP_NO
         , GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, 
                   FAQ_NO
                 , FAQ_NAME
                 , FAQ_CATEGORY_NO
                 , FAQ_TITLE
                 , FAQ_CONTENTS
                 , STATUS
                 , DEPTH
                 , GROUP_NO
                 , GROUP_ORDER
             FROM FAQ_T
            WHERE STATUS = 1
              AND FAQ_NAME LIKE '%' || #{query} || '%')          
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>  
   
  <select id="getSearchTitleList" parameterType="Map" resultType="FaqDto">
    SELECT FAQ_NO
         , FAQ_NAME
         , FAQ_TITLE
         , FAQ_CATEGORY_NO
         , FAQ_CONTENTS
         , STATUS
         , DEPTH
         , GROUP_NO
         , GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, 
                   FAQ_NO
                 , FAQ_NAME
                 , FAQ_CATEGORY_NO
                 , FAQ_TITLE
                 , FAQ_CONTENTS
                 , STATUS
                 , DEPTH
                 , GROUP_NO
                 , GROUP_ORDER
             FROM FAQ_T
            WHERE STATUS = 1
              AND FAQ_TITLE LIKE '%' || #{query} || '%')          
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>   
   
  <select id="getSearchContentsList" parameterType="Map" resultType="FaqDto">
    SELECT FAQ_NO
         , FAQ_NAME
         , FAQ_TITLE
         , FAQ_CATEGORY_NO
         , FAQ_CONTENTS
         , STATUS
         , DEPTH
         , GROUP_NO
         , GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, 
                   FAQ_NO
                 , FAQ_NAME
                 , FAQ_CATEGORY_NO
                 , FAQ_TITLE
                 , FAQ_CONTENTS
                 , STATUS
                 , DEPTH
                 , GROUP_NO
                 , GROUP_ORDER
             FROM FAQ_T
            WHERE STATUS = 1
              AND FAQ_CONTENTS LIKE '%' || #{query} || '%')          
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>   
   
  <delete id="deleteFaq" parameterType="int">
    DELETE 
      FROM FAQ_T
     WHERE FAQ_NO = #{faqNo}
  </delete>
  
  <update id="updateFaq" parameterType="FaqDto">
    UPDATE FAQ_T
       SET FAQ_NAME = #{faqName}
          ,FAQ_TITLE = #{faqTitle}
          ,FAQ_CONTENTS = #{faqContents}
     WHERE FAQ_NO = #{faqNo}
  </update>
 
   
  <insert id="insertFaq" parameterType="FaqDto">
    INSERT INTO FAQ_T (
      FAQ_NO,
      FAQ_CATEGORY_NO,
      FAQ_NAME,
      FAQ_TITLE,
      FAQ_CONTENTS,
      STATUS,
      DEPTH,
      GROUP_NO,
      GROUP_ORDER
    ) VALUES (
      FAQ_SEQ.NEXTVAL,
      #{faqCategoryDto.faqCategoryNo},
      (SELECT FAQ_CATEGORY_NAME FROM FAQ_CATEGORY_T WHERE FAQ_CATEGORY_NO = #{faqCategoryDto.faqCategoryNo}),
      #{faqTitle},
      #{faqContents},
      1,
      0,
      FAQ_SEQ.CURRVAL,
      0
)
   </insert>
   
   
   
   
   
   
   
  
  
</mapper>