<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gdu.petmall.dao.FaqMapper">
  
  <select id="getFaqCount" resultType="int">
    SELECT COUNT(*)
      FROM FAQ_T
  </select>
  
  <select id="getFaqList" parameterType="Map" resultType="FaqDto">
    SELECT FAQ_NO
         , CATEGORE
         , FAQ_TITLE
         , FAQ_CONTENTS
         , STATUS
         , DEPTH
         , GROUP_NO
         , GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, FAQ_NO, CATEGORE, FAQ_TITLE, FAQ_CONTENTS, STATUS, DEPTH, GROUP_NO, GROUP_ORDER
              FROM FAQ_T)         
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  <select id="adminFaqList" parameterType="Map" resultType="FaqDto">
    SELECT FAQ_NO
         , CATEGORE
         , FAQ_TITLE
         , FAQ_CONTENTS
         , STATUS
         , DEPTH
         , GROUP_NO
         , GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, FAQ_NO, CATEGORE, FAQ_TITLE, FAQ_CONTENTS, STATUS, DEPTH, GROUP_NO, GROUP_ORDER
              FROM FAQ_T)         
     WHERE RN BETWEEN #{begin} AND #{end}
  </select> 
  
  <insert id="insertFaq" parameterType="FaqDto">
    INSERT INTO FAQ_T (
        FAQ_NO
      , CATEGORE
      , FAQ_TITLE
      , FAQ_CONTENTS
      , STATUS
      , DEPTH
      , GROUP_NO
      , GROUP_ORDER
    ) VALUES (
         FAQ_SEQ.NEXTVAL
      , #{categore}
      , #{faqTitle}
      , #{faqContents}
      , 1
      , 0
      , FAQ_SEQ.CURRVAL
      , 0
     )
  </insert>
  
  <select id="getSearchCount" parameterType="Map" resultType="int">
    SELECT COUNT(*)
      FROM FAQ_T
     WHERE STATUS = 1
       AND ${column} LIKE '%' || #{query} || '%'
  </select>
   
  <select id="getSearchList" parameterType="Map" resultType="FaqDto">
    SELECT FAQ_NO
         , CATEGORE
         , FAQ_TITLE
         , FAQ_CONTENTS
         , STATUS
         , DEPTH
         , GROUP_NO
         , GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, 
                   FAQ_NO
                 , CATEGORE
                 , FAQ_TITLE
                 , FAQ_CONTENTS
                 , STATUS
                 , DEPTH
                 , GROUP_NO
                 , GROUP_ORDER
             FROM FAQ_T
            WHERE STATUS = 1
              AND ${column} LIKE '%' || #{query} || '%')          
     WHERE RN BETWEEN #{begin} AND #{end}
  </select> 
   
  <delete id="deleteFaq" parameterType="int">
    DELETE 
      FROM FAQ_T
     WHERE FAQ_NO = #{faqNo}
  </delete>
  
  <update id="updateFaq" parameterType="FaqDto">
    UPDATE FAQ_T
       SET CATEGORE = #{categore}
          ,FAQ_TITLE = #{faqTitle}
          ,FAQ_CONTENTS = #{faqContents}
     WHERE FAQ_NO = #{faqNo}
  </update>
  
   
   
  
  
</mapper>