<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gdu.petmall.dao.FaqMapper">
  
  <select id="getFaqCount" resultType="int">
    SELECT COUNT(*)
      FROM FAQ_T
  </select>
  
  <select id="getFaqList" parameterType="Map" resultType="FaqDto">
    SELECT FAQ_NO, CATEGORE, FAQ_TITLE, FAQ_CONTENTS, STATUS, DEPTH, GROUP_NO, GROUP_ORDER
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, GROUP_ORDER ASC) AS RN, FAQ_NO, CATEGORE, FAQ_TITLE, FAQ_CONTENTS, STATUS, DEPTH, GROUP_NO, GROUP_ORDER
              FROM FAQ_T)         
     WHERE RN BETWEEN #{begin} AND #{end}
  </select> 
  
  <update id="updateGroupOrder" parameterType="FaqDto" > <!-- parameterType="FreeDto"는 원글을 의미함 -->
    UPDATE FAQ_T
       SET GROUP_ORDER = GROUP_ORDER + 1
     WHERE GROUP_NO = #{groupNo}
       AND GROUP_ORDER > #{groupOrder}  
  </update>
  
  <!-- 댓글 달기 2: 댓글 삽입하기 -->
  <insert id="insertReply" parameterType="FaqDto">
    INSERT INTO FREE_T (
        FAQ_NO
      , CATEGORE
      , FAQ_TITLE
      , FAQ_CONTENTS
      , STATUS
      , DEPTH
      , GROUP_NO
      , GROUP_ORDER
    ) VALUES (
        FAQ_SEQ.NEXTVAL
      , #{faqNo}
      , #{categore}
      , #{faqTitle}
      , #{faqContents}
      , 1
      , #{depth}
      , #{groupNo}
      , #{groupOrder}
    )
  </insert>
   
</mapper>