<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gdu.petmall.dao.OrderMapper">

  <resultMap type="com.gdu.petmall.dto.OrderDto" id="OrderMap">
    <id column="ORDER_NO" property="orderNo" />
    <result column="RE_NAME" property="reName" />
    <result column="RE_TEL" property="reTel" />
    <result column="JIBUN_ADDRESS" property="jibunAddress" /> 
    <result column="DETAIL_ADDRESS" property="detailAddress" /> 
    <result column="POSTCODE" property="postcode" /> 
    <result column="ROAD_ADDRESS" property="roadAddress" /> 
    <result column="RE_TEXT" property="reText" /> 
    <result column="TOTAL_PRICE" property="totalPrice" /> 
    <result column="ORDER_STATE" property="orderState" /> 
    <association javaType="com.gdu.petmall.dto.UserDto" property="userDto">
      <id column="USER_NO" property="userNo" />
      <result column="EMAIL" property="email"/>
      <result column="NAME" property="name"/>
      <result column="MOBILE" property="mobile"/>   
    </association>
    <association javaType="com.gdu.petmall.dto.OrderDetailDto" property="orderDetailDto">
      <id column="ORDER_NO" property="orderNo" />
      <result column="OPTION_NO" property="optionNo"/>
    </association>
  </resultMap>  
    
  <insert id="insertOrderPay" parameterType="com.gdu.petmall.dto.OrderDto">
    <selectKey keyProperty="orderNo" resultType="int" order="BEFORE">
        SELECT ORDER_SEQ.NEXTVAL AS orderNo FROM DUAL
    </selectKey>
    INSERT INTO ORDER_T (
        ORDER_NO,
        USER_NO,
        RE_NAME,
        RE_TEL,
        POSTCODE,
        ROAD_ADDRESS,
        JIBUN_ADDRESS,
        DETAIL_ADDRESS,
        RE_TEXT,
        TOTAL_PRICE,
        ORDER_STATE,
        YOUR_ORDER,
        ORDER_DATE
    ) VALUES (
        #{orderNo},
        #{userDto.userNo},
        #{reName},
        #{reTel},
        #{postcode},
        #{roadAddress},
        #{jibunAddress},
        #{detailAddress},
        #{reText},
        #{totalPrice},
        0,
        #{yourOrder},
        TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')
    )
  </insert>
  
  <insert id="orderOption" parameterType="orderDetailDto">
    INSERT INTO ORDER_DETAIL_T(
            ORDER_NO,
            OPTION_NO
            )VALUES (
        	#{orderNo},
        	#{optionNo}
    	  )  
  </insert>
  
    <select id="getMyOrderList" parameterType="java.util.Map" resultType="OrderDto">
       SELECT *
         FROM ORDER_T
        WHERE USER_NO = #{userNo}
          AND ORDER_STATE = '0'     
        ORDER BY ORDER_NO DESC
   </select>
   
  <select id="getOrder" parameterType="orderDto" resultMap="OrderMap">
   SELECT O.ORDER_NO, O.USER_NO, O.RE_NAME, O.RE_TEL, O.POSTCODE, O.ROAD_ADDRESS,O.JIBUN_ADDRESS, O.DETAIL_ADDRESS, O.RE_TEXT, O.TOTAL_PRICE, O.ORDER_STATE, O.YOUR_ORDER
    FROM ORDER_T O
    WHERE O.TOTAL_PRICE = #{totalPrice}
     AND O.YOUR_ORDER = #{yourOrder}      
      AND O.ORDER_STATE = '0'
   </select>
   

  
</mapper>