<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gdu.petmall.dao.PayMapper">
   
  <resultMap type="com.gdu.petmall.dto.OrderDto" id="OrderMap">
    <id column="ORDER_NO"             property="orderNo" />
    <result column="RE_NAME"          property="reName" />
    <result column="RE_TEL"          property="reTel" />
    <result column="JIBUN_ADDRESS"       property="jibunAddress" /> 
    <result column="DETAIL_ADDRESS" property="detailAddress" /> 
    <result column="POSTCODE" property="postCode" /> 
    <result column="ROAD_ADDRESS" property="detailAddress" />
    <result column="RE_TEXT"          property="reText" /> 
    <result column="TOTAL_PRICE"       property="totalPrice" /> 
    <result column="ORDER_STATE"       property="orderState" /> 
   <association javaType="UserDto"      property="userDto">
      <id column="USER_NO"       property="userNo" />
      <result column="EMAIL"    property="email"/>
      <result column="NAME"     property="name"/>
      <result column="MOBILE"    property="mobile"/>   
    </association>
  </resultMap>  
  
<select id="getPayment" parameterType="int" resultType="com.gdu.petmall.dto.OrderDto">
    SELECT ORDER_NO, RE_NAME, RE_TEL, RE_TEXT, TOTAL_PRICE, ORDER_STATE, JIBUN_ADDRESS, DETAIL_ADDRESS, POSTCODE, ROAD_ADDRESS
    FROM ORDER_T
    WHERE ORDER_NO = #{orderNo}
</select>
</mapper>