<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gdu.petmall.dao.ProductMapper">
	
  <resultMap type="ProductDto" id="ProductMap">
    <id     column="PRODUCT_NO"           property="productNo" />
    <result column="PRODUCT_NAME"         property="productName" />
    <result column="PRODUCT_TITLE"        property="productTitle" />
    <result column="PRODUCT_PRICE"        property="productPrice" />
    <result column="PRODUCT_DESCRIPTION"  property="productDescription" />
    <result column="PRODUCT_SIZE "        property="productSize" />
    <result column="PRODUCT_WARNING"      property="productWarning" />
    <result column="PRODUCT_HIT"          property="productHit" />
    <result column="PRODUCT_RATING"       property="productRating" />
    <association javaType="ProductImageDto"  property="productImageDto">
      <id     column="IMAGE_CODE"          property="imageCode" />
      <result column="POSITION"      property="position" />
      <result column="PATH"      property="path" />
      <result column="FILESYSTEM_NAME"      property="filesystemName" />
    </association>
  </resultMap>
  
  <select id="getProductCount" parameterType="Map" resultType="int">
    SELECT COUNT(*)
      FROM PRODUCT_T
    <if test="categoryNo != 0">
     WHERE CATEGORY_NO = #{categoryNo}
    </if>
  </select>
  
  <select id="getProductList" parameterType="Map" resultMap="ProductMap">
     SELECT A.PRODUCT_NO, A.PRODUCT_NAME, A.PRODUCT_TITLE, A.PRODUCT_PRICE, A.PRODUCT_CREATED_AT, A.PRODUCT_SALES, A.PRODUCT_HIT, A.PRODUCT_RATING, A.PRODUCT_COUNT, A.REVIEW_COUNT, A.PATH, A.FILESYSTEM_NAME
       FROM (SELECT ROW_NUMBER() OVER(ORDER BY ${order} ${ascDesc}) AS RN, P.PRODUCT_NO, P.PRODUCT_NAME, P.PRODUCT_TITLE, P.PRODUCT_PRICE, P.PRODUCT_CREATED_AT, P.PRODUCT_SALES, P.PRODUCT_HIT, P.PRODUCT_RATING
                  , (SELECT SUM(OPTION_COUNT) FROM PRODUCT_OPTION_T OPT WHERE P.PRODUCT_NO = OPT.PRODUCT_NO) AS PRODUCT_COUNT
                  , (SELECT COUNT(*) FROM REVIEW_T R WHERE R.OPTION_NO IN (SELECT OPT.OPTION_NO FROM PRODUCT_OPTION_T OPT WHERE P.PRODUCT_NO = OPT.PRODUCT_NO)) AS REVIEW_COUNT
                  , PI.PATH, PI.FILESYSTEM_NAME
               FROM PRODUCT_T P LEFT OUTER JOIN PRODUCT_IMAGE_T PI
                 ON PI.IMAGE_CODE = 'product_' || P.PRODUCT_NO
                AND PI.POSITION = 'thumbnail'
              <where>
                <if test="categoryNo != 0">
                  AND CATEGORY_NO = #{categoryNo}
                </if>
              </where>
             ) A
      WHERE A.RN BETWEEN #{begin} AND #{end}
  </select>
  
  <select id="getProduct" parameterType="int" resultType="ProductDto">
    SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_TITLE, PRODUCT_CONTENTS, PRODUCT_PRICE, PRODUCT_CREATED_AT, PRODUCT_DESCRIPTION, PRODUCT_SIZE, PRODUCT_WARNING, CATEGORY_NO, PRODUCT_SALES, PRODUCT_HIT, PRODUCT_RATING
                    , (SELECT SUM(OPTION_COUNT) FROM PRODUCT_OPTION_T OPT WHERE P.PRODUCT_NO = OPT.PRODUCT_NO) AS PRODUCT_COUNT
                    , (SELECT COUNT(*) FROM REVIEW_T R WHERE R.OPTION_NO IN (SELECT OPT.OPTION_NO FROM PRODUCT_OPTION_T OPT WHERE P.PRODUCT_NO = OPT.PRODUCT_NO)) AS REVIEW_COUNT
           FROM PRODUCT_T P
     WHERE PRODUCT_NO = #{productNo}
  </select>
  
  <select id="getOptionList" parameterType="int" resultType="ProductOptionDto">
    SELECT OPTION_NO, PRODUCT_NO, OPTION_NAME, ADD_PRICE, OPTION_COUNT
      FROM PRODUCT_OPTION_T
     WHERE PRODUCT_NO = #{productNo}
  </select>
  
  <insert id="insertProduct" parameterType="ProductDto">
    <selectKey order="BEFORE" keyProperty="productNo" resultType="int">
      SELECT PRODUCT_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO PRODUCT_T (
        PRODUCT_NO
      , PRODUCT_NAME
      , PRODUCT_TITLE
      , PRODUCT_CONTENTS
      , PRODUCT_PRICE
      , PRODUCT_CREATED_AT
      , PRODUCT_MODIFIED_AT
      , PRODUCT_DESCRIPTION
      , PRODUCT_SIZE
      , PRODUCT_WARNING
      , CATEGORY_NO
      , PRODUCT_HIT
      , PRODUCT_SALES
      , PRODUCT_RATING
      ) VALUES (
        #{productNo}
      , #{productName}
      , #{productTitle}
      , #{productContents}
      , #{productPrice}
      , TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:MI:SS')
      , TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:MI:SS')
      , #{productDescription}
      , #{productSize}
      , #{productWarning}
      , #{categoryNo}
      , 0
      , 0
      , null
    )
  </insert>
  
  <insert id="insertProductOption" parameterType="ProductOptionDto">
    INSERT INTO PRODUCT_OPTION_T (
      OPTION_NO
    , PRODUCT_NO
    , OPTION_NAME
    , ADD_PRICE
    , OPTION_COUNT    
    ) VALUES (
      PRODUCT_OPTION_SEQ.NEXTVAL
    , #{productNo}
    , #{optionName}
    , #{addPrice}
    , #{optionCount}
    )
  </insert>

  <select id="getProductImageList" parameterType="int" resultType="ProductImageDto">
    SELECT IMAGE_CODE, POSITION, PATH, FILESYSTEM_NAME
      FROM PRODUCT_IMAGE_T
     WHERE IMAGE_CODE = 'product_' || #{productNo}
       AND POSITION = 'display'
  </select>
    
  <insert id="insertProductImage" parameterType="ProductImageDto">
    INSERT INTO PRODUCT_IMAGE_T (
      IMAGE_CODE
    , POSITION
    , PATH
    , FILESYSTEM_NAME
    ) VALUES (
      #{imageCode}
    , #{position}
    , #{path}
    , #{filesystemName}
    )
  </insert>
  
  <delete id="deleteProduct" parameterType="int">
    DELETE 
      FROM PRODUCT_T
     WHERE PRODUCT_NO = #{productNo}
  </delete>
  
  
</mapper>