<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('아이디 찾기')}"></head>

<style>
#id_wrap{margin:0 auto; width:290px;}
.btn{margin-top:10px; width: 290px;}
 .h1_center{text-align: center;}
</style>

<body>
  <div th:replace="~{layout/header::header}"></div>
  
<div id="id_wrap">
<h1 class="h1_center">아이디 찾기</h1>


<form  id="frm_find_id">
  <div>
  <div><label for="name" >이름</label></div>
    <input type="text"  id="name" name="name" class="form-control">
  </div>
  
  <div>
    <div><label for="mobile" >휴대폰 번호</label></div>
    <input type="text"  id="mobile" name="mobile" class="form-control" placeholder="(-)하이픈,공백 없이입력">
  </div>
  
  <div>
    <button type="button" id="btn_find_id" class="btn btn-lg btn-primary">아이디 찾기</button>
   
  </div>
  
  
</form>

</div>

<!-- 스크립트 영역 -->

<script>


/****************************아이디찾기**********************************/
const fnFindId=()=>{
	
	$('#btn_find_id').click(()=>{
		
		$.ajax({
			type:'post',
			url:'/user/find_id.do',
			data:$('#frm_find_id').serialize(),
			
			dataType:'json',
			success:(resData)=>{
				
				if(resData.email==0)
				{
					alert('일치하는 회원정보가 없습니다.');
					return;
				}
				
				alert('아이디는'+resData.email+'입니다.');
				location.href='/user/login.form';
			}
		})
	})
}


fnFindId();

</script>






 <div th:replace="~{layout/footer :: footer}"></div>


</body>  
</html>
