<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header::head('Q&A 문의글 상세보기')}"></head>
<body>
<style>
  .btn_image {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }

  .btn_image a {
    flex: 0 0 90%; 
  }

  .center-text {
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
  }
</style>
<div th:replace="~{/layout/header::header}"></div>

<div class="btn_image">
    <!-- First Image -->
    <a th:href="${image}">
        <img th:src="@{/image/dance_cat.png}" style="width: 10%;">
    </a>

    <a th:href="${image}">
        <img th:src="@{/image/dance_cat.png}" style="width: 10%;">
    </a>
</div>

<div class="center-text">
    <h1>문의한 Q&A 게시글 목록</h1>
</div>


<br/>
<br/>
<br/>

    <div>전체 문의글 수: [[${qnaTotalCount}]]</div>
    <br/>
    <div>해당 Q&A 게시판에 문의 전체 갯수는 다음과 같습니다. 해당 순차적으로 답변중이니 좀더 기다려주시면 감사합니다! </div>
    <br/>
    <!-- 전체 리스트 목록별 정보를 불러온다. -->
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <td>작성글 역순</td>
            <td>작성글 번호</td>
            <td>문의한 제품 번호</td>
            <td>제목</td>
            <td>작성일자</td>
            <td>게시글 확인하러가기</td>
          </tr>
        </thead>
        <tbody>
          <tr th:each="post, vs : ${myPostList}" th:if="${post.depth == 0}">
            <td th:text="${vs.index + 1}"></td>
            <td th:text="${post.qnaNo}"></td>
            <td th:text="${post.productNo}"></td>
            <td>
              <select class="form-select" th:id="'title_' + ${post.qnaNo}" onchange="updateDisplayedTitle('${post.qnaNo}')" disabled>
                <option value="1" th:selected="${post.title == 1}">[상품] 상품관련 문의</option>
                <option value="1" th:selected="${post.title == 2}">[배송] 배송관련 문의</option>
                <option value="1" th:selected="${post.title == 3}">[주문취소] 주문취소 문의</option>
                <option value="1" th:selected="${post.title == 4}">[주소변경] 주소변경 문의</option>
                <option value="1" th:selected="${post.title == 5}">[반품/환불] 반품/환불 문의</option>
                <option value="1" th:selected="${post.title == 6}">[기타] 기타문의</option>
              </select>
              
            </td>
            <td th:text="${post.createdAt}"></td>
			<td>
			    <a th:href="@{/user/qnadetail.do(qnaNo=${post.qnaNo},groupNo=${post.groupNo})}">
			        <button>게시글 확인하기</button>
			    </a>
			</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
  
  <hr>
    
    <!-- 해당 스크립트 구문을 통해서 title을 숫자로 받은 값을 다시 문자로 변환 시킨다.  -->
	<script th:inline="javascript">
	  function updateDisplayedTitle() {
	    const titleSelect = document.getElementById('title');
	    const displayedTitle = document.getElementById('displayedTitle');
	    const selectedValue = titleSelect.value;
	
	    switch (selectedValue) {
	      case '1':
	        displayedTitle.innerText = '[상품] 상품관련 문의';
	        break;
	      case '2':
	        displayedTitle.innerText = '[배송] 배송관련 문의';
	        break;
	      case '3':
	        displayedTitle.innerText = '[주문취소] 주문취소 문의';
	        break;
	      case '4':
	        displayedTitle.innerText = '[주소변경] 주소변경 문의';
	        break;
	      case '5':
	        displayedTitle.innerText = '[반품/환불] 반품/환불 문의';
	        break;
	      case '6':
	        displayedTitle.innerText = '[기타] 기타문의';
	        break;
	      default:
	        displayedTitle.innerText = '';
	        break;
	    }
	    titleSelect.disabled = true;
	  }
	
	  document.addEventListener('DOMContentLoaded', function () {
	    updateDisplayedTitle(); 
	  });
	</script>

    
    <div th:replace="~{/layout/footer::footer}"></div>
</body>
</html>
