<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('MyProfile')}"></head>
<body>
  <div th:replace="~{layout/header::header}"></div>
  
  
  <style>
/*색상*/
.btn-primary{background-color: transparent; }
.btn-primary:hover{outline:3px solid  rgb(201, 189, 184); transition: ease-out 0.1s; background-color: rgb(242, 240, 240); }
.btn_postcode  {color:white;}
/*중앙 정렬*/
#profile_wrap{width:850px; margin:0 auto; margin-top:10px;margin-bottom: 50px;}


/*라디오 정렬*/
.test_radio_label{ margin-right:20px; margin-left:10px;}
.gender_radio{margin-right:10px; margin-left:10px;}

/*폼*/
.form-control{margin-bottom:10px;}
.form-select{width: 20%; display: inline;}
.mobile{width:35%; display:inline; }
#postcode{width: 80%; display: inline;}

/*버튼 조정*/
.agree{width: 150px; height: 50px; margin-top:5px; margin-bottom: 5px;}
.agree{width: 150px; height: 40px; margin-top:5px; margin-bottom: 5px; line-height: 20px;}
.agree_div{height:40px; margin-top:10px;}
.service_agree{margin-left:5px;}
#btn_join{width:850px;}


#btn_area{display: flex; }
#btn_modify{width: 200px; height: 50px; font-size: large;}
#btn_cancel{width: 150px; height: 50px; font-size: large; margin-right: 385px;}
#btn_leave{width: 100px; height: 50px; font-size: large;}

/*메시지 조정*/
.msg{color: silver; padding-bottom: 10px; }

/*span 조정*/
.hyp{margin-left: 10px;margin-right:10px;}

/*이벤트수신*/
#event_label{margin-top: 10px;margin-bottom:10px;}
 .btn-outline-primary{
   background-color:transparent ;
    --bs-btn-color:#E0C891;
    --bs-btn-active-bg:#E0C891;
    --bs-btn-active-border-color: #E0C891;
    color: rgb(124, 113, 107);}
    
    .form-check-input:checked {
    background-color: #E0C891;
    border-color: #E0C891;
}


#modify_profile_img{ background-color: transparent; color:silver; border: 0;}
#modify_profile_img:active{color: darkgray;}

/* 첨부파일 외관 수정*/
#file{display: none;}
.edit_image{
  margin-left: 40px;
  text-align: center;
    width: 115px;
    height: 25px;
    line-height:15px;
    font-size: small;
    letter-spacing: -2px;
    background: #fff;
    border: 1px solid ;
    color:silver;
    
    margin-bottom:20px;
    }
    
    
/*프로필 이미지 썸네일*/
 #profile_thumbnail ,#profile_thumbnail_img{
 width: 200px;
 height: 170px;
 }
 #profile_thumbnail{
   margin-top: 20px;
   margin-bottom: 20px;
   width:200px; height: 200px; border-radius: 80%; overflow: hidden; border:5px solid rgb(143, 132, 118)
 }
 #profile_thumbnail_img{width: 100%; height: 100%; object-fit: cover;}
</style>
  
  <!-- 마이페이지 네비게이션  -->
  <h1>PROFILE</h1>
  <div th:replace="~{user/mypage_nav::mypage_nav}"></div>



<!-- 본문  -->
<div id="profile_wrap">


<form  method="post"  th:action="@{/user/mypage/modify.do}" id="frm_profile">


<div>
  <!--프로필 이미지 썸네일 -->
  <div id="profile_thumbnail">
    <img id="profile_thumbnail_img" src="" >
  </div>
  <!--프로필 사진 첨부-->
        <div>
          <label for="file"  class="btn edit_image" id="edit_image">프로필이미지변경</label>
          <input type="file" name="file" id="file" accept="image/jpeg" multiple>
        </div>
</div>

<!--/*추후에 삭제 해야함 */-->
<script th:inline="javascript">
	
	 $('#file').change((ev) => {
		 
		 
		 <!-- 콘솔로 정보 확인 -->
		//console.log($('#file').prop('files')[0].name);
		//console.log($('#file').prop('files')[0]);
		 
 
        })
      
	
	
</script>


<!-- 이메일  -->
<div>

  <div>
     <div class="label"><span>ID(Email)</span></div>
      <input  type="text" id="email" name="email"  th:value="${session.user.email}"  class="form-control"  readonly>
  </div> 
  

  
</div>

<!-- 이름  -->
<div>
  <div class="label"><span>이름</span></div>
  <input type="text" id="name" name="name" th:value="${session.user.name}" class="form-control"  placeholder="*이름"> 
  <div id="msg_name" class="msg"></div>
</div>

<!-- 성별 -->


<div class="text_center gender_center">
 <div class="label"><span>성별</span></div>
 <div class="btn-group " role="group" aria-label="Basic radio toggle button group" >
  <input type="radio" class="btn-check " name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">선택안함</label>
  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" >
  <label class="btn btn-outline-primary" for="btnradio2">&nbsp;&nbsp;&nbsp;남자&nbsp;&nbsp;&nbsp;</label>
  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" >
  <label class="btn btn-outline-primary" for="btnradio3">&nbsp;&nbsp;&nbsp;여자&nbsp;&nbsp;&nbsp;</label>
 </div>
</div>


<!-- 회원이 기존에 선택한값 적용  -->
<script>
$(':radio[value=${session.user.gender}]').prop('checked',true);
</script>



<!-- 비번/비번확인  -->
<div>
 <div class="label"><span>비밀번호</span></div>
  <div>
   <input type="password" id="pw" name="pw" placeholder="비밀번호" class="form-control">
   <div id="msg_pw" class="msg"></div>
  </div>


  <div>
    <input type="password" id="pw2"  placeholder="* 비밀번호 확인" class="form-control">
    <div id="msg_pw2" class="msg"></div>
</div>


</div>

<!--/* 휴대폰 번호 */-->
<div>
  <select id="mobile0" name="mobile" class="form-select">
    <option>010</option>
    <option>011</option>
    <option>016</option>
    <option>017</option>
    <option>018</option>
    <option>019</option>
  </select>
  <span class="hyp">-</span>
  <input type="text" id="mobile1" name="mobile" size="4" maxlength="4" class="form-control mobile"> 
  <span class="hyp">-</span>
  <input type="text" id="mobile2" name="mobile" size="4" maxlength="4" class="form-control mobile"> 
  <div id="msg_mobile" class="msg"></div>
</div>

 <!-- String 으로 받은 휴대폰 번호 처리 스크립트 --> 
<script>

/* 전화번호 분리하기  */
var mobile_temp="[[${session.user.mobile}]]";
var mobile0=mobile_temp.substring(0,3);
var mobile1=mobile_temp.substring(3,7);
var mobile2=mobile_temp.substring(7,11);


$('#mobile0').val(mobile0).prop('selected', true);
$('#mobile1').val(mobile1);
$('#mobile2').val(mobile2);
</script>



 <div class="label"><span>주소</span></div>
<!-- 주소 -->
<div class="address">

  <div class="postcode_control">
    <input type="text" id="postcode" name="postcode" placeholder="우편번호" th:value="${session.user.postcode}"  class="form-control postcode"  readonly>
     <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기" class="btn btn-lg  btn_postcode  btn-danger">
  </div>
  
<input type="text" id="roadAddress"  name="roadAddress" placeholder="도로명주소" th:value="${session.user.roadAddress}" readonly  class="form-control" >
<input type="text" id="jibunAddress"  name="jibunAddress" placeholder="지번주소" th:value="${session.user.jibunAddress}" readonly  class="form-control" > 
<span id="guide" style="color:#999;display:none"></span>
<input type="text" id="detailAddress" name="detailAddress" placeholder="상세주소" th:value="${session.user.detailAddress}"   class="form-control" >


<input type="text" id="extraAddress" name="extraAddress" placeholder="참고항목" readonly  class="form-control" >

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("roadAddress").value = roadAddr;
                document.getElementById("jibunAddress").value = data.jibunAddress;
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
                
                //상세주소 커서 포커싱
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }
</script>


</div>


<!-- 이벤트 수신여부 -->
<div class="cetner">

<div id="event_label"><label class="check_label  form-check-label" for="event"><input type="checkbox" id="event" name="event" class="chk_each  form-check-input" >[선택]광고성 정보 이메일 수신 동의</label></div>

<script th:inline="javascript">
    /* Thymeleaf에서 서버에서 전달한 값으로 조건부로 체크박스 체크 여부를 설정 */
    var agreeValue = /*[[${session.user.agree}]]*/ 0; // 서버에서 전달한 값
    if (agreeValue === 1) {
        $('#event').prop('checked', true);
    } else {
        $('#event').prop('checked', false);
    }
</script>




<!-- 버튼  -->
 
 <div class="btn_area">
 
 <div>
<input type="hidden" name="userNo" id="userNo" th:value="${session.user.userNo}">
<button type="button" id="btn_modify" class="btn btn-primary btn-danger">회원정보수정</button>
<button type="button" id="btn_cancel" class="btn btn-primary btn-danger ">취소</button>
<button type="button" id="btn_leave" class="btn btn-primary btn-danger">회원탈퇴</button>
</div>


 
 </div>


</div>


</form>
</div>


</div>

<!-- 스크립트 영역  -->
<script th:inline="javascript">
	
	
/**********************전역변수 선언*************************************/
var pwPassed = false;
var pw2Passed = false;
var namePassed = true;
var mobilePassed = false;
var mobile1=false;
var mobile2=false;
/****************************프로필 첨부****************************/

/*****업로드한 파일이 변경됐는지 체크******/
    const fnFileCheck = () => {
		
		
		
        $('#file').change((ev) => {		
		
		// 초기화	
		let formData= new FormData();
		let file = $('#file')[0];
		
		
		
		//값 넣기.			
		formData.append('files',file.files[0]);
		formData.append('userNo', $('#userNo').val());
       	
       	
       /**사용자가 이미지를 선택시 ajax실행**/
       $.ajax({
		   //요청
		   type:'post',
		   url:'/user/editProfile.do',
		   data: formData,
		   contentType:false,
		   processData:false,
		   //응답
		   
		   dataType:'json',
		   success:(resData)=>{
			   $('#file').empty();
			   fnGetProfile();
		   } //success
		   
	   			})//ajax
       
        })//event
      }//function


/********현재 업로드 된 이미지 불러오기********/

const fnGetProfile =() =>{
	$.ajax({
	//요청
	type:'get',
	url:'/user/getProfileImage.do',
	data: { userNo: $('#userNo').val() },
	
	//응답
	dataType:'json',
	success:(resData)=>{
		 $('#profile_thumbnail_img').empty();
		 if(resData.hasThumbnail===0){
			console.log(resData);
			 
		 }
		 else{
			console.log(resData);
			str=resData.profile.path+'/'+resData.profile.filesystemName;
			console.log(str);
			$('#profile_thumbnail_img').attr('src',str);
		 }//else
	}//success
	
	})//ajax
}//function




/**********************정규식*******************************************/
 
 //이름 길이 제한
 const fnCheckName = () => {
  $('#name').blur((ev) => {
    let name = ev.target.value;
    let bytes = 0;
    for(let i = 0; i < name.length; i++){
      if(name.charCodeAt(i) > 128){  // 코드값이 128을 초과하는 문자는 한 글자 당 2바이트임
        bytes += 2;
      } else {
        bytes++;
      }
    }
    namePassed = (bytes <= 50);
    if(!namePassed){
      $('#msg_name').text('이름은 50바이트 이내로 작성해야 합니다.');
    }
  })
}

 
 /* ***************전화번호 정규식 체크 *************************** */
 const fnCheckMobile = () => {
   
// 휴대전화번호 검사 정규식 
   let regMobile = /^[0-9]{4}$/;
   mobile1=regMobile.test($('#mobile1').val());
   mobile2=regMobile.test($('#mobile2').val());
   mobilePassed = mobile1*mobile2;
   
   $('#mobile1 ,#mobile2').on('keyup',(ev) => {
   
     ev.target.value = ev.target.value;
     mobile1=regMobile.test($('#mobile1').val());
     mobile2=regMobile.test($('#mobile2').val());
     mobilePassed = mobile1*mobile2;
     
     if(mobilePassed){
       $('#msg_mobile').text('');
     } else {
       $('#msg_mobile').text('휴대전화번호를 확인하세요.');       
     }
     
     
   })

 }
 
 
 

 /* ******************************비번 정규식 체크/ 비번 일치여부 확인 ****************************** */
  //비번 정규식 확인 
  const fnCheckPassword = () => {
    $('#pw').keyup((ev) => {
      let pw = $(ev.target).val();
      // 비밀번호 : 8~20자, 영문,숫자,특수문자, 2가지 이상 포함
      let validPwCount = /[A-Z]/.test(pw)          // 대문자가 있으면   true
                       + /[a-z]/.test(pw)          // 소문자가 있으면   true
                       + /[0-9]/.test(pw)          // 숫자가 있으면     true
                       + /[^A-Za-z0-9]/.test(pw);  // 특수문자가 있으면 true
      pwPassed = pw.length >= 8 && pw.length <= 20 && validPwCount >= 2;
      if(pwPassed){
        $('#msg_pw').text('사용 가능한 비밀번호입니다.');
      } else {
        $('#msg_pw').text('비밀번호는 8~20자, 영문/숫자/특수문자를 2가지 이상 포함해야 합니다.');       
      }
    })
  }
  
 // 비번 일치여부 확인 
  const fnCheckPassword2 = () => {
    $('#pw2').blur((ev) => {
      let pw = $('#pw').val();
      let pw2 = ev.target.value;
      pw2Passed = (pw !== '') && (pw === pw2);
      if(pw2Passed){
        $('#msg_pw2').text('');
      } else {
        $('#msg_pw2').text('비밀번호 입력을 확인하세요.');
      }
    })
  }

 

/*************************회원정보 수정******************************/
const fnModifyUser = () => {
  $('#btn_modify').click(() => {
    if(!namePassed){
      alert('이름을 확인하세요.');
      return;
    } else if(!mobilePassed){
      alert('휴대전화번호를 확인하세요.');
      return;
    }else if(!pwPassed || !pw2Passed){
       alert('비밀번호를 확인하세요.');
      return;
    }
    $.ajax({
      // 요청
      type: 'post',
      url:  '/user/mypage/modify.do',
      data: $('#frm_profile').serialize(),
      // 응답
      dataType: 'json',
      success: (resData) => {  // {"modifyResult": 1}
        if(resData.modifyResult === 1){
          alert('회원 정보가 수정되었습니다.');
        } else {
          alert('회원 정보가 수정되지 않았습니다.');
        }
      }
    })
  })
}


/*******************************취소*******************************/
const fnCancel=()=>{
  $('#btn_cancel').click(()=>{
    location.href="/main.do";
  })
}

/*****************************회원탈퇴******************************/
 const fnLeaveUser = () => {
  $('#btn_leave').click(() => {
    if(confirm('회원 탈퇴하시겠습니까?')){
      $('#frm_profile').prop('action', '/user/mypage/leave.do');
      $('#frm_profile').submit();
    }
  })
}
 

 
/*****************함수호출***********************/

//프로필 이미지 첨부
 fnFileCheck(); // 파일 체크
 
//비번 체크
fnCheckPassword();
fnCheckPassword2();

// 이름 길이 제한
  fnCheckName();
  //폰번호 정규식
  fnCheckMobile();
  
  
  //회언정보 수정
  fnModifyUser();
  //취소
  fnCancel();
  // 탈퇴하기
  fnLeaveUser();

</script>


 <div th:replace="~{layout/footer :: footer}"></div>


</body>  
</html>