<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('Q&A 문의글 상세보기')}"></head>

<body>

  <div th:replace="~{/layout/header::header}"></div>

  <div class="main_wrap">

    <h1>문의글 상세보기</h1>

    <!-- Qna글 상세보기 -->
		<div th:if="${session.user.userNo == qna.userDto.userNo}" class="text-center">
		    <form id="frn_btn" method="post" th:action="@{/some/action}">
		        <input type="hidden" name="qnaNo" th:value="${qna.qnaNo}">
		        <input type="hidden" name="productNo" th:value="${qna.productNo}">
		        <input type="hidden" name="title" th:value="${qna.title}">
		        <input type="hidden" name="contents" th:value="${qna.contents}">
		    </form>
		</div>

      <div>
        <h1 class="title mt-4" th:text="${qna.title}"></h1>
        <c:set var="groupNo" value="${param.groupNo}" />
        <div>작성일: <span th:text="${qna.createdAt}"></span></div>
        <div>제품 번호: <span th:text="${qna.productNo}"></span></div>
        <div>문의 내용: <span th:text="${qna.contents}"></span></div>
        <div>그룹번호: <span th:text="${groupNo}"></span></div>
      </div>
    </div>

    <hr>

    <hr class="my-3">
    <h5>첨부 다운로드</h5>
    <div>
      <th:block th:if="${#lists.isEmpty(qattachList)}">
        <div>첨부 없음</div>
      </th:block>
      <th:block th:if="${not #lists.isEmpty(qattachList)}">
        <th:block th:each="atc : ${qattachList}">
          <div class="qattach" th:data-qattach_no="${atc.qattachNo}">
            <a th:href="@{/user/qnadetail/download.do(qattachNo=${atc.qattachNo})}" th:text="${atc.originalFilename}"></a>
          </div>
        </th:block>
      </th:block>
    </div>

    <hr>

    <div>
      <h3>게시글 삭제하기</h3>
      <button type="button" id="btn_remove" class="btn btn-danger btn-sm">삭제</button>
    </div>

    <hr>

		<h5>문의 내용 추가 작성하기</h5>
		
		<div class="blind write_tr">
		  <div>
		    <c:set var="groupNo" value="${param.groupNo}" />
		    <form method="post" th:action="@{/user/qnadetail/addReply.do}" id="reply_form">
		      <div class="input-group mb-3">
		        <label class="input-group-text" id="inputGroup-sizing-default">작성자</label>
		        <input type="text" name="email" th:value="${session.user.email}" readonly class="form-control">
		        <input type="hidden" name="userNo" th:value="${session.user.userNo}">
		      </div>
		      <div class="input-group">
		        <c:set var="groupNo" value="${param.groupNo}" />
		        <label for="contents" class="input-group-text">내용</label>
		        <textarea name="contents" id="contents" class="form-control" aria-label="With textarea"></textarea>
		        <hr>
		        <input type="hidden" name="groupNo" th:value="${groupNo}">
		        <input type="hidden" name="depth" th:value="${qna.depth}">
		        <input type="hidden" name="parentNo" th:value="${qna.qnaNo}">
		        <button type="submit" class="btn btn-primary btn-sm">댓글달기</button>
		      </div>
		    </form>
		  </div>
		</div>


    <hr>
	
	<h1>답변</h1>
	<div th:if="${commentList}">
	    <div th:each="com : ${commentList}">
	        <div>
	            <div>작성자 이메일: <span th:text="${com.userDto.email}"></span></div>
	            <div>이름: <span th:text="${com.userDto.name}"></span></div>
	            <div>질문 번호: <span th:text="${com.qnaNo}"></span></div>
	            <div>유저번호: <span th:text="${com.userDto.userNo}"></span></div>
	            <div>상태: <span th:text="${com.status}"></span></div>
	            <div>내용: <span th:text="${com.contents}"></span></div>
	            <div>답글여부: <span th:text="${com.depth}"></span></div>
	        </div>
	    </div>
	</div>


    <hr>

    <script th:inline="javascript">
      const fnAddReplyResult = () => {
        let addReplyResult = /*[[${addReplyResult}]]*/ '';
        if (addReplyResult !== null) {
          if (addReplyResult === 1) {
            alert('댓글이 등록되었습니다.');
          } else {
            alert('댓글이 등록되지 않았습니다.');
          }
        }
      };

      const fnRemoveQna = () => {
        $('#btn_remove').click(() => {
          if (confirm('문의글을 삭제시 함께 문의한 추가 내용도 전부 삭제됩니다. 삭제할까요?')) {
            $('#frn_btn').attr('action', '/user/remove.do');
            $('#frn_btn').submit();
          }
        });
      };

      const fnAddReply = () => {
        $('#reply_form').submit(() => {
          $('#groupNo').val(/*[[${groupNo}]]*/ '');
        });
      };

      const fnDownload = () => {
        $('.qattach').click(function () {
          if (confirm('다운로드 할까요?')) {
            location.href = '/user/download.do?qattachNo=' + $(this).data('qattachNo');
          }
        });
      };

      $(document).ready(function () {
        fnRemoveQna();
        fnAddReplyResult();
        fnAddReply();
        fnDownload();
      });
    </script>


    <div th:replace="~{/layout/footer::footer}"></div>
  </div>
</body>

</html>
