<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('FAQ 게시판')}"></head>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
    <div class="main_wrap">

  <div class="wrap wrap 9"><h1>어떠한 목적으로 고객센터를 방문 하셨나요?</h1></div>

<hr>

		<div class="text-center">
		  <div class="d-inline-block mr-3">
		    <a th:href="@{/qna/write.form}">
		      <button type="button" class="btn btn-outline-primary">1:1문의글 작성하러가기</button>
		    </a>
		  </div>
		
		  <div class="d-inline-block ml-3">
		    <a th:href="@{/user/myPostList}">
		      <button type="button" class="btn btn-outline-primary">내가 작성한 문의글 보러가기</button>
		    </a>
		  </div>
		</div>


  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>
