<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header::head('관리자 FAQ관리페이지')}"></head>

<style>
  .answerWrap {
    width: 100%;
    height: 50px;
    display: flex;
    font-size: 30px;
    line-height: 50px;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
    padding-left: 85px;
    padding-right: 60px;
    text-align: center;
  }
  
  #title { 
    text-align: center;
  }
  .main_title {
    text-align: center;
  }
  
  .list {
    word-spacing: normal;
  
  }
  
  .nav_qna_list{
    text-align: center;
  }
  
  .big_wrap {
    width: 1000px;
    margin: auto;
  }
  
  
  .table  {
    margin-top: 30px;
    
  }
  
  .text-center mt-3 {
    margin-bottom: 20px;
  }
  
  #paging{
    text-align: center;
  }
  
</style>




<body>
  
  <div th:replace="~{layout/header::header}"></div>
  
  <div class="big_wrap">
 
  <hr>
  
    <div class="nav_qna_list">
      <h1>FAQ 관리</h1>
      <hr>
      <a th:href="@{/faq/list.do}">
        <input type="button" class="btn btn-light" value="FAQ확인하기">
      </a>  
      <a th:href="@{/admin/admin.go}">
        <input type="button" class="btn btn-dark" value="관리자페이지돌아가기">
      </a>
    </div>
  
  <hr>
   
   <div class="main_wrap">
      <div class="form-group">
        <form id="add_frm" method="post" th:action="@{/faq/add.do}">
          <div class="form-group">
            <label for="category_select" class="form-label mt-4">카테고리 선택</label>
            <select class="form-select" id="faqCategoryNo" name="faqCategoryNo">
              <option value="">--선택 안함--</option>
              <th:block th:each="faq : ${faqCategoryList}">
                <th:block th:if="${faq.faqCategoryNo != 0}">
                   <option th:value="${faq.faqCategoryNo}" th:text="${faq.faqCategoryName}"></option>
                </th:block>
              </th:block> 
            </select>
        <div class="invalid-feedback"></div>
      </div>
      <div class="form-group">
        <label for="faqTitle" class="form-label mt-4">제목</label>
        <input type="text" class="form-control not-empty" name="faqTitle" id="faqTitle">  
        <div class="invalid-feedback"></div>
      </div>
      <div class="form-group">
        <label for="faqContents" class="form-label mt-4">내용</label>
        <input type="textarea" class="form-control not-empty" name="faqContents" id="faqContents">
        <div class="invalid-feedback"></div>
      </div>
      <div class="text-center mt-3">
         <button class="btn btn-secondary" type="button">작성취소</button>
         <input type="hidden" id="faqCategoryNo" name="faqCategoryNo" value="faqCategoryNo">
         <input type="hidden" id="categoryNo" name="categoryNo" value="categoryNo">
         <button type="submit" class="btn btn-primary">작성완료</button>
      </div>
    </form>
   </div>
  
  <hr>
  
  <div class="table_wrap">
   <form id="update_frm" method="post" th:action="@{/faq/update.do}">
    <table class="table table-hover table_font" border="1">
      <thead class="table-primary">
        <tr>
          <td>번호</td>
          <td>카테고리</td>
          <td>제목</td>
          <td>답변내용</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="a,vs:${adminList}">
          <tr class="list">
            <td th:text="${beginNo - vs.index}"></td>
            <td><input type="text" class="form-control not-empty" name="faqName" th:value="${a.faqName}" size="4"></input></td>
            <td><input type="text" class="form-control not-empty" name="faqTitle" th:value="${a.faqTitle}" size="10"></input></td>
            <td><input type="text" class="form-control not-empty" name="faqContents" th:value="${a.faqContents}" size="30"></span></td>
           <td>
              <input type="hidden"  id="faqNo" name="faqNo" th:value="${a.faqNo}">  
              <button type="submit" id="modify_btn" class="btn btn-dark">수정</button>
              <button type="button" id="delete_btn" class="btn btn-dark">삭제</button>
            </td>
          </tr>
        </th:block>
      </tbody>
      <tfoot>
        <tr>
          <td id="paging" colspan="5" th:utext="${paging}"></td>
        </tr>
      </tfoot>
    </table>
   </form>
  </div>
    
    
    
   <script th:inline="javascript">
   
      const fnDelete = () => {
        $(document).on('click', '#delete_btn', function(){
        var faqNo = $(this).closest('tr').find('[name="faqNo"]').val();
        console.log(faqNo);
        $.ajax({
            type: 'post',
            url: '/faq/delete.do',
            data: {
                "faqNo": faqNo
            },
            dataType: 'json',
            success: (resData) => {  
                alert('FAQ가 삭제되었습니다.')
                 location.reload();
            }
          })
       });
      };

      fnDelete();
    
   </script>

  <div th:replace="~{layout/footer::footer}"></div>
  
</body>
</html>
