<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
  
  <typeAliases>
    <typeAlias alias="UserDto"         type="com.gdu.petmall.dto.UserDto"/>
    <typeAlias alias="LeaveUserDto"    type="com.gdu.petmall.dto.LeaveUserDto"/>
    <typeAlias alias="InactiveUserDto" type="com.gdu.petmall.dto.InactiveUserDto"/>
    <typeAlias alias="ProductDto" type="com.gdu.petmall.dto.ProductDto" />
    <typeAlias alias="ProductOptionDto" type="com.gdu.petmall.dto.ProductOptionDto" />
    <typeAlias alias="ProductOptionListDto" type="com.gdu.petmall.dto.ProductOptionListDto" />
    <typeAlias alias="ProductImageDto" type="com.gdu.petmall.dto.ProductImageDto" />
    <typeAlias alias="CategoryDto" type="com.gdu.petmall.dto.CategoryDto" />
    <typeAlias alias="ReviewDto" type="com.gdu.petmall.dto.ReviewDto" />
    <typeAlias alias="CartDto" type="com.gdu.petmall.dto.CartDto" />
    <typeAlias alias="CartOptionListDto" type="com.gdu.petmall.dto.CartOptionListDto" />
    <typeAlias alias="OrderDto" type="com.gdu.petmall.dto.OrderDto" />
    <typeAlias alias="OrderDetailDto" type="com.gdu.petmall.dto.OrderDetailDto" />
    <typeAlias alias="EventDto" type="com.gdu.petmall.dto.EventDto" />
    <typeAlias alias="EventImageDto" type="com.gdu.petmall.dto.EventImageDto" />
    <typeAlias alias="QnaDto"      type="com.gdu.petmall.dto.QnaDto"/>
    <typeAlias alias="QattachDto"      type="com.gdu.petmall.dto.QattachDto"/>
    <typeAlias alias="InquiryDto" type="com.gdu.petmall.dto.InquiryDto" />
    <typeAlias alias="IattachDto" type="com.gdu.petmall.dto.IattachDto" />
  </typeAliases>
  
</configuration>